@backgroundColor: #fcfaf2;
@white: #fff;
@black: #000;
@golden: #d2ac28;
@helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@stickyBar_bar_arrow_width: 29px;
@stickyBar_bar_arrow_height: 29px;
@stickyBar_bar_arrow_spaceFromCenter: 300px;
@stickyBar_bar_arrow_transitionDuration: 0.2s;
@stickyBar_bar_close_transitionDuration: 1s;

@stickyBar_bar_commands_container: 160px;
@stickyBar_bar_commands_middle_width: 494px;
@stickyBar_bar_commands_middle_height: 45px;

@stickyBar_bar_commands_middle_flip_width: 283px;
@stickyBar_bar_commands_middle_flip_height: 37px;
@stickyBar_bar_commands_middle_flip_line_padding: 4px;

@stickyBar_bar_commands_iconButton_width: 35px;
@stickyBar_bar_commands_iconButton_height: 45px;
@stickyBar_bar_commands_iconButton_spaceFromCenter: 340px;

@stickyBar_bar_commands_sumUp_height: 100px;

@homepage_ticket_image_width: 210px;
@homepage_ticket_width: 235px;
@homepage_ticket_header_padding: 20px;
@homepage_ticket_margin_horizontal: 9em; /* Original value 50px */
@homepage_ticket_margin_vertical: 2em; /* Original value 50px */
@homepage_grid_width: (@homepage_ticket_width + @homepage_ticket_margin_horizontal) * 4;

@sticky_bar_height : 205px; /*@stickyBar_bar_commands_sumUp_height + @stickyBar_bar_commands_container + @stickyBar_bar_commands_middle_height ;*/

@sticker_height : 120px;

body {
  background: @backgroundColor;
  font-family: Arial;
}

// CLEARFIX
.clearfix {

	&:after {
		clear: both;
		content: ' ';
		display: block;
		font-size: 0;
		line-height: 0;
		visibility: hidden;
		width: 0;
		height: 0;
	}

	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

#ct-stickyBar_bar {
  position: absolute;
  width: 100%;
  height: @stickyBar_bar_commands_container + @stickyBar_bar_commands_middle_height ;

  // Non Hidden bar.
  top: 0px;
  -webkit-transition-duration: @stickyBar_bar_close_transitionDuration;

  z-index: 100;

  &.close {
    top: -@stickyBar_bar_commands_container;
  }

  > .ct-container {
    position : absolute;
    top: 0;
    width : 100%;
    height: @stickyBar_bar_commands_container;
  	background: #dfdfdf;
    z-index : 2;
    overflow: hidden;

  > .ct-arrow {
    width: @stickyBar_bar_arrow_width;
    height: @stickyBar_bar_arrow_height;

    position: absolute;
    left: 50%;
    z-index: 3;
    top: 85px;

    // Invisible by default.
    opacity: 0;

    -webkit-transition-duration: @stickyBar_bar_arrow_transitionDuration;

    &.ct-arrow_left {
      background: url('/images/topbar/navarrow_left.png');
      margin-left: -@stickyBar_bar_arrow_spaceFromCenter - (@stickyBar_bar_arrow_width / 2);
    }

    &.ct-arrow_right {
      background: url('/images/topbar/navarrow_right.png');
      margin-left: @stickyBar_bar_arrow_spaceFromCenter - (@stickyBar_bar_arrow_width / 2);
    }
  }
 	 &:hover {
  	  // When the bar is hovered, show the arrows.
      > .ct-arrow {
      	opacity: 0.7;

        &:hover {
          // When the arrows are hovered, show them better.
          opacity: 1.0;
        }
      }
    }
  }

  > .ct-container {
    position : absolute;
    top: 0;
    width : 100%;
    height: @stickyBar_bar_commands_container;
  	background: #dfdfdf;
    z-index : 2;
    overflow: visible;

  }

 > .ct-commands {
  	position: absolute;
    top: @stickyBar_bar_commands_container;
    width: 100%;
    height: @stickyBar_bar_commands_middle_height;
  	background: url('/images/topbar/topbar_background.png');

    z-index : 2;

    .ct-iconButton {
      width: @stickyBar_bar_commands_iconButton_width;
      height: @stickyBar_bar_commands_iconButton_height;
      position: absolute;
      left: 50%;
      z-index: 1;

      &.ct-iconButton_home {
        background: url('/images/topbar/home_selected.png');
        margin-left: -@stickyBar_bar_commands_iconButton_spaceFromCenter - (@stickyBar_bar_commands_iconButton_width / 2);
      }

      &.ct-iconButton_search {
        background: url('/images/topbar/search.png');
        margin-left: @stickyBar_bar_commands_iconButton_spaceFromCenter - (@stickyBar_bar_commands_iconButton_width / 2);
		cursor: pointer;

        &:hover {
          background: url('/images/topbar/search_selected.png');
        }
      }
    }

  	> .ct-middle {
      width: @stickyBar_bar_commands_middle_width;
      height: @stickyBar_bar_commands_middle_height;
      margin: auto;
      background: url('/images/topbar/flip_background.png');

      position: absolute;
      left: 50%;
      margin-left: -(@stickyBar_bar_commands_middle_width / 2);

      > .ct-textButton {
        position: absolute;
        left: 50%;
        color: #e5e5e5;
        z-index: 1;
        font-size: 20px;
        top: 12px;

	&:hover{
	  color: @golden;
	}

        &.ct-textButton_edit {
          margin-left: -210px;
        }

        &.ct-textButton_share {
          margin-left: 170px;
        }
      }

      > .ct-flip {
        width: @stickyBar_bar_commands_middle_flip_width;
        height: @stickyBar_bar_commands_middle_flip_height;

        position: absolute;
        left: 50%;
        margin-left: -(@stickyBar_bar_commands_middle_flip_width / 2) + 1px;
        top: 4px;

        background: url('/images/topbar/flip_back.png');
        font-family: @helvetica;
        font-weight: bold;
        font-size: 23px;
        color: @white;
        //TODO: change the color to put gray gradient
        text-align: center;
        line-height: @stickyBar_bar_commands_middle_flip_height;

        overflow: hidden;

        &:before {
          content: '';
          position: absolute;
          background: url('/images/topbar/flip_line.png');
          width: @stickyBar_bar_commands_middle_flip_width - 2 * @stickyBar_bar_commands_middle_flip_line_padding;
          height: @stickyBar_bar_commands_middle_flip_height;
          left: @stickyBar_bar_commands_middle_flip_line_padding;
          top: 0;
        }
      }
  	}
  }
}

.ct-stickyBar_sticker {
  background: @white;
  position: absolute;
  width: 200px;
  height: 120px;
  margin: 12px 15px 12px 15px;
  border: 5px solid #f2f2f2;
  box-shadow: 0 0 2px #a6a6a6;
  border-radius: 5px;
  overflow: visible;

  > .ct-container {
  }
}

.ct-stickyBar_sticker {

  > .ct-stickyBar_group {
  	background: @white;
  	position: absolute;
  	width: 200px;
  	height: 120px;
 	border-radius: 5px;
 	overflow: hidden;


  	> h3 {
        	position : absolute;
        	top : 64px;
        	z-index : 1;
        	width: 200px;
        	height: 40px;
        	padding-top: 5px;
        	font-size : 13px;
        	font-family: Helvetica;
        	font-weight: normal;
        	text-align: center;
        	text-transform: capitalize;

        	background-color : #EEE;
        	opacity: 0.7;
      	}
  	> img {
        	position: absolute;
        	top: 0px;
        	z-index : 0;
        	//width: 200px;
      	}
      }
      
  	> .ct-stickyBar_preview {
  			display: none;
  			position: absolute;
  			width: 286px;
  			height: 224px;
  			background-color : white;
  			border: 2px solid #f2f2f2;
  			margin-top : 200px;
  			margin-left : -40px;
  			overflow: hidden;
  		
  				> ul {
  					list-style: none;
  					width: 200px;
  					text-align: left;
  					font-size: 15px;
  					}
		}
		
&:hover {
	> .ct-stickyBar_preview {
		display : block;
		-webkit-transition-duration : 5s;
	}
	}

}



.ct-sumUp {
  display : none;
  float: left;
  position: relative; z-index:100;
  top: @stickyBar_bar_commands_container + @stickyBar_bar_commands_middle_height - @stickyBar_bar_commands_sumUp_height;
  width: 30%;
  height: @stickyBar_bar_commands_sumUp_height;

  overflow: hidden;
  background-color : #eee;
  opacity : 0.5;
  -webkit-transition-duration: 1s;
  -webkit-transition-property: top;

  box-shadow: 1px 1px 4px #888;

}



.ct-sumUp ul {
  margin: 0;
  padding: 0;
}
.ct-sumUp li {
  list-style-type :none;
  float: left;
  position: relative;
  height : 80px;
  width: 90px;
  padding : 5px;
  margin: 5px;
  border-right: 1px solid #000;

  font-size: 12px;
}

.ct-homepage {

  position: absolute;
  top: @sticky_bar_height;
  //width: @homepage_grid_width;
  width : 100%;
  padding-top: 40px;

  > .ct-homepage_switch_button {
      width: 100px;
      height: 10px;
      margin: auto;
      margin-bottom: 10px;
      background-color : #ccc;
      cursor : pointer;

      > h2 {
        width: 100px;
        font-size : 8px;
        text-align: center;
        color : white;
      }
  }

}

.ct-favorites-grid {

	width: 80%;
	margin : auto;

  > .ct-ticket {
    background: transparent url(/images/home/default_ticket_background.png) no-repeat center bottom;
    background-size: @homepage_ticket_image_width auto;
    position: relative;
    float: left;
    width: @homepage_ticket_width;
    height: 200px;/* Original: 200px */
    margin-right: 2%; /* Original: @homepage_ticket_margin_horizontal / 2 */
    margin-left: 2%;

	> .ct-ticketLink {
	position: relative;
	float:left;
	width: 235px;
	height: 125px;

   	 > .ct-ticketImage {
	      margin-left: 11px; /* original value : Did not exist*/
        height: 100px; /* original value 200px*/
        width: 215px; /* original value 235px*/
        margin-top: 30px;
        border-radius: 3px; /* original value : Did not exist*/
        -webkit-transition-duration: 0.3s;
        //-webkit-transition-property:

        &:hover{
        	margin-top:20px;
        }
    }
}

    > .ct-ticketHead {
      position: absolute;
      bottom: 0px;
      height: 60px;
      background: url(/images/home/ticket_bottom.png) no-repeat;
      // TODO(fwouts): Use variables.
      width: @homepage_ticket_width - 2 * @homepage_ticket_header_padding;
      padding-top: 26px;
      padding: @homepage_ticket_header_padding;

      > .ct-ticketCount {
        float: left;
        font-weight: bold;
        color: #d84;
        width: 70px;
        font-size: 0.8em;

        > b {
          font-size: 3em;
        }
      }

      > h3 {
        display: block;
        overflow: hidden;
        text-align: center;
        font-weight: normal;
        font-size: 1.2em;
      }
    }
  }
}

.ct-apps-grid {

  width: 80%;
  margin : auto;

  > .ct-ticket {
    background: transparent url(/images/home/default_ticket_background.png) no-repeat center bottom;
    background-size: @homepage_ticket_image_width auto;
    position: relative;
    float: left;
    width: @homepage_ticket_width;
    height: 200px;/* Original: 200px */
    margin-right: 25px; /* Original: @homepage_ticket_margin_horizontal / 2 */
    margin-left: @homepage_ticket_margin_horizontal / 2;

  > .ct-ticketLink {
  position: relative;
  float:left;
  width: 235px;
  height: 125px;

     > .ct-ticketImage {
        margin: auto; /* original value : Did not exist*/
        height: 128px; /* original value 200px*/
        width: 128px; /* original value 235px*/
        display: block;
        margin-top: 30px;
        border-radius: 3px; /* original value : Did not exist*/
        -webkit-transition-duration: 0.3s;
        //-webkit-transition-property:

        &:hover{
          margin-top:20px;
        }
    }
}

    > .ct-ticketHead {
      position: absolute;
      bottom: 0px;
      height: 60px;
      background: url(/images/home/ticket_bottom.png) no-repeat;
      // TODO(fwouts): Use variables.
      width: @homepage_ticket_width - 2 * @homepage_ticket_header_padding;
      padding-top: 26px;
      padding: @homepage_ticket_header_padding;

      > .ct-ticketCount {
        float: left;
        font-weight: bold;
        color: #d84;
        width: 70px;
        font-size: 0.8em;

        > b {
          font-size: 3em;
        }
      }

      > h3 {
        display: block;
        overflow: hidden;
        text-align: center;
        font-weight: normal;
        font-size: 1.2em;
      }
    }
  }
}

#ct-story-homepage {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	top: @sticky_bar_height;
	height: 100%; // maybe useless when content

	-webkit-transition-duration: @stickyBar_bar_close_transitionDuration;

	&.close {
    top: @stickyBar_bar_commands_middle_height;
  }
}
