// TODO(fwouts): Use a common LESS style for constants used in several files.

@white: #fff;
@helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@storyItemWidth: 400px;
@storyItemGrabWidth: 17px;
@storyItemGrabHeight: 19px;
@storyItemBottomHeight: 25px;
@quoteWidth: 382px;
@quoteHorizontalPadding: 20px;
@quoteVerticalPadding: 20px;

@storyLineColor: #fa8;
@storyLineWidth: 5px;
@storyLineDotRadius: 10px;

/*
body {
  background: url('/images/story/paper_background.png');
}
*/

.ct-storyItem {
  width: @storyItemWidth;
  
  position: absolute;
  top: 300px;
  left: 20%;
  margin-left: -@storyItemWidth / 2;
  z-index: 1;
  
  > .ct-storyContent {
    background: @white;
    border: 1px solid #ccc;
    position: relative;
    font-family: @helvetica;
    padding: 10px;
    font-size: 14px;
    
    // Used to close the div after the floating ct-storyFeaturedImage.
    overflow: hidden;
    
    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      left: -1px; // Because of the border.
      bottom: -@storyItemBottomHeight;
      width: @storyItemWidth;
      height: @storyItemBottomHeight;
      background: url('/images/story/element_bottom.png');
    }
    
    > .ct-storyDelete {
      width: 35px;
      height: 34px;
      position: absolute;
      top: 0;
      right: 0;
      background: url('/images/story/delete_left.png');
      cursor: pointer;
    }
    
    > .ct-storyGrab {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -(@storyItemGrabHeight / 2);
      width: @storyItemGrabWidth;
      height: @storyItemGrabHeight;
      background: url('/images/story/pic_grab.png');
      cursor: pointer;
    }
    
    > .ct-storyFeaturedImage {
      display: block;
      float: left;
      margin-right: 10px;
      max-width: 130px;
    }
    
    > h3 {
      
    }
    
    > .ct-legend {
      font-size: 0.9em;
      color: #ccc;
    }
  }

  > .ct-quote {
    width: (@quoteWidth - 2 * @quoteHorizontalPadding);
    margin-left: (@storyItemWidth - @quoteWidth) / 2;
    background: url('/images/story/quote_paper.png');
    position: relative;
    // TODO(fwouts): Find other fallback fonts.
    font-family: 'Times New Roman';
    padding: @quoteVerticalPadding @quoteHorizontalPadding;
    
    &:before {
      content: '';
      height: 16px;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      background: url('/images/story/quote_bottom.png');
    }
  }
}

.ct-storyLine {
  border-right: @storyLineWidth dashed #999;
  position: absolute;
  height: 100%;
  left: 50%;
  margin-left: -@storyLineWidth / 2;
  z-index: 1;
  
  > .ct-storyItemLink {
    position: absolute;
  
    // This should be changed on a per-item basis in JS.
    top: 50%;
    
    > .ct-storyItemLinkLine {
      position: absolute;
      border: 2px solid @storyLineColor;
      
      // This should be changed on a per-item basis in JS.
      width: 300px;
      margin-left: -300px;
    }
    
    > .ct-storyItemLinkDot {
      border-radius: @storyLineDotRadius;
      border: @storyLineDotRadius solid @storyLineColor;
      position: absolute;
      right: 0;
      margin-right: -@storyLineDotRadius;
      margin-top: -@storyLineDotRadius;
    }
  }
}
