/* ::::: https://plusone.google.com/_/scs/apps-static/_/ss/k=oz.plusone.-8uc2cun149tv.L.F4.O/am=BA/rs=AItRSTOapV3n_dz57Y5eOFSFONkaRvk9YA ::::: */

* html .a-f-e, :first-child + html .a-f-e { display: inline; }
.ZRa { float: left; white-space: nowrap; }
.g-rba-Dh-kQa { margin: 0px; padding: 0px; background-color: transparent; }
.hAa { cursor: pointer; display: block; outline: 0px none; position: relative; text-decoration: none; }
.Ro { width: 24px; height: 15px; }
.Bg .Ro { background: url('sprite4-a67f741843ffc4220554c34bd01bb0bb.png') no-repeat scroll 0px -463px transparent; }
.Bg .Ro:hover { background: url('sprite4-a67f741843ffc4220554c34bd01bb0bb.png') no-repeat scroll -33px -720px transparent; }
.Bg .Ro:active { background: url('sprite4-a67f741843ffc4220554c34bd01bb0bb.png') no-repeat scroll -33px -342px transparent; }
.wC, .az, .vC { float: left; }
.eX, .fX { background: url('sprite4-a67f741843ffc4220554c34bd01bb0bb.png') no-repeat scroll 0% 0% transparent; float: left; }
.U1 { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-width: 1px; border-style: solid none; border-color: rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; float: left; }
.V1 { color: rgb(102, 102, 102); font-family: arial,sans-serif; overflow: hidden; white-space: nowrap; }
.wC { padding-left: 2px; padding-right: 2px; }
.wC .eX { background-position: 0px -704px; height: 15px; width: 5px; }
.wC .fX { background-position: -34px -704px; height: 15px; width: 2px; }
.wC .U1 { max-width: 37px; min-width: 5px; }
.wC .V1 { font-size: 10px; margin: 1px 5px; height: 11px; line-height: 12px; }
@media not all, only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
}
