.isotope {
  -webkit-transition-property: height, width;
  -webkit-transition-duration: 0.8s;

  > .isotope-item {
	  -webkit-transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform, opacity;
  }
}
