.isotope {
  -webkit-transition-property: height, width;
  -webkit-transition-duration: 0.6s;

  > .isotope-item {
	  -webkit-transition-duration: 0.6s;
    -webkit-transition-property: opacity;
  }
}
