/**
 * CT-STORY_ITEM :
 *  > .ct-item_content
 *  > .ct-toolbox
 */

@item_width: 360px;
@tool_box_height: 33px;

.ct-story_item {

  // Common to all items
  overflow: hidden;
  width: @item_width;
  margin-left: 10px;
  margin-top: 10px;
  -webkit-border-radius: 2px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.35);

  &.expanded {
    > .ct-content_reader{
      height: 470px;
      border: solid 5px #262626;
    }
  }

  &:hover {
    > .ct-item_content{
      > .ct-toolbox {
        &.large{
          bottom: 0;
        }
        &.small{
          bottom: 0;
        }
      }
    }
  }

  /**
   * CT-ITEM_CONTENT
   */
  > .ct-item_content {
    position: relative;
    background-color: #262626;

    &.image {
      background-color: rgba(255,255,255,0.3);
    }

    &.map {
      height: 310px;
    }

    &.video {
      height: 310px;
    }

    a {
      text-decoration: none;
    }

    > .ct-image {
      position: relative;
      overflow: hidden;

      &.full {
        /*if full image in an image element*/
        width: 360px;
        height: 310px;
      }

      &.featured {
        /*if featured image in a default element*/
        float: left;
        z-index: 1;
        width: 150px;
        height: 150px;
        background-color: #262626;
     }

      > .resize {
        position: absolute;
        display: none;

        &.show {
          display: block;
        }
      }
    }

    h3 {
      font-weight: 100;
      font-size: 13px;
      line-height: 1.3em;
      color: #fff;
      margin: 0;
      margin-bottom: 4px;
      padding: 0;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    /*search*/
    .ct-searchbox {
	    position: relative;
	    top: 10%;
	    width: 300px;
	    height: 33px;
	    margin-left: 20px;
	    background-color: #212121;
	    -webkit-box-shadow: inset 0 2px 7px rgba(0,0,0,0.3);

	    input {
	      background: none;
	      border: none;
	      height: 33px;
	      width: 247px;
	      padding-left: 10px;
	      padding-right: 10px;
	      font-style: italic;
	      color: #ffffff;
	      font-size: 12px;
	      float: left;
	      outline: none;
	    }
	  }

    /*labels*/
    .ct-label {
      position: absolute;
      bottom: 0%;
      left: 0px;
      width: 100%;
      background-color: #1c1c1c;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
      padding-top: 8px;

      &.small_label {
        height: 25px;
      }

      &.large_label {
        padding-top: 8px;
        padding-bottom: 10px;
        height: 32px;

        h3 {
          padding-left: 10px;
      	  -webkit-line-clamp: 1;
      	}
      }
    }

    /*website source*/
    .ct-item_content_website {
      height: 16px;
      margin-left: 10px;

      > .url {
        margin-left: 5px;
        color: #a6a6a6;
        font-size: 12px;
        display: inline-block;
        height: 16px;
        vertical-align: middle;
      }

      > .favicon {
        float: left;
        width: 18px;
      }
    }

    /*infos*/
    > .ct-infos {
      position: relative;
      padding: 10px;
      height: 130px;
      position: relative;
      overflow: hidden;

      > .ct-item_content_date {
        height: 22px;
        display: table;
      }

      > .ct-quote_indicator {
        height: 22px;
        display: table;
      }

      h4 {
        color: #a6a6a6;
        font-weight: 100;
        font-size: 12px;
        vertical-align: middle;
        display: table-cell;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100%;
      }
    }

    /*toolbox*/
    > .ct-toolbox {
      background: #5bab7d;
      position: absolute;
      display: table;
      left: 0px;
      width: 360px;
      -webkit-transition: bottom  0.2s;
      -webkit-transition-delay: 0.2s;

      &.small {
        height: 33px;
      bottom: -33px;
        }

      &.large {
        height: 50px;
        bottom: -50px;

        p {
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 17px;
        }
      }

      p {
        font-size: 13px;
        color: #ffffff;
        float: right;
        height: 100%;
        margin: 0;
        vertical-align: middle;
        padding-left: 11px;
        padding-right: 11px;
        padding-top: 8px;
        padding-bottom: 10px;
        cursor: pointer;

        &.get_content{
          float: left;
          margin-left: 0;
        }
      }

      .loading{
        position: absolute;
      }

      &.visible {
        top: 117px;
      }
    }
  }

  /*reader*/
  > .ct-content_reader {
    position: relative;
    width: 350px;
    height: 0px;
    background-color: white;

    > .ct-select_article_part_radio_button {
      height: 38px;
      width: 100%;
      background-color: #e8e8e8;
      position: relative;

      > .ct-select_button {
        position: absolute;
        cursor: pointer;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin: 0;

        &.active {
        }
        &.show_best {
          left: 0;
        }

        &.show_quote {
          left: 100px;
        }

        &.show_whole {
          right: 0;
        }
      }

      > .reader_selector_cursor {
        position: absolute;
        top: 31px;
        left: 35px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #fff;

        &.on_best {
          left: 35px;
        }

        &.on_quote {
          left: 142px;
        }

        &.on_whole {
          left: 275px;
        }
      }
    }

    > .ct-reader_article {
      position: absolute;
      background-color: white;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 28px;
      padding-right: 23px;
      width: 299px;
      height: 412px;
      overflow-y: auto;
      overflow-x: hidden;

      p {
        font-size: 13px;
        text-align: justify;

        &.default_text{
          color: #a5a5a5;
        }
      }

      &::-webkit-scrollbar {
          width: 9px;
      }

      &::-webkit-scrollbar-track-piece {
          width: 9px;
          box-shadow: inset 0px 0px 15px -2px rgba(0, 0, 0, 0.22);
          border-radius: 10px;
          background: transparent none;
          margin: 3px;
      }

      &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #5bab7d;
      }
    }
  }

  &.ct-add_item{
    height: 150px;
    display: table;
    background-color: rgba(255, 255, 255, 0.3);

    > p{
      color: rgba(255, 255, 255, 0.7);
      font-size: 18px;
      font-weight: bold;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;

      &.hidden{
        display: none;
      }
    }

    > .items_to_add{
      height: 150px;
      width: 326px;
      overflow: hidden;

      &.full{
        width: 100%;
      }

      > .separation_line{
        height: 0;
        width: 326px;
        position: absolute;
        border-top: solid 1px rgba(0,0,0,0.3);
        border-bottom: solid 1px rgba(255,255,255,0.3);

        &.topmost{
          top: 49px;
        }

        &.bottommost{
          top: 99px;
        }
      }

      > .item_from_pool{
        height: 50px;
        width: 100%;
        cursor: pointer;

        &.hidden{
          display: none;
        }

        > h3 {
          position: relative;
          top: 5px;
          left: 10px;
          font-weight: 100;
          font-size: 13px;
          line-height: 1.3em;
          color: #333;
          margin: 0;
          margin-bottom: 10px;
          padding: 0;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .ct-item_content_website {
          height: 16px;
          margin-left: 10px;

          > .url {
            margin-left: 5px;
            color: #333;
            font-size: 12px;
            display: inline-block;
            height: 16px;
            vertical-align: middle;
          }

          > .favicon {
            float: left;
            width: 18px;
          }
        }
      }
    }

    > .navigation_bar{
      position: absolute;
      width: 33px;
      right: 0;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      border-left: solid 1px;
      border-color: rgba(0,0,0,0.3);

      > .arrow{
        position: absolute;
        left: 10px;
        cursor: pointer;

        &.hidden{
          display: none;
        }

        &.next_items{
          top: 48px;
        }

        &.previous_items{
          top: 84px;
          -webkit-transform: rotate(180deg);
        }
      }
    }
  }

}
