// TODO(fwouts): Use a common LESS style for constants used in several files.

@white: #fff;
@helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@storyItemWidth: 400px;
@storyItemGrabWidth: 17px;
@storyItemGrabHeight: 19px;
@storyItemBottomHeight: 25px;
@quoteWidth: 382px;
@quoteHorizontalPadding: 20px;
@quoteVerticalPadding: 20px;

@storyLineColor: #d2ac28;
@storyLineWidth: 50px;
@storyDotLineWidth : 5px;
@storyLineDotRadius: 10px;

@storyItemLinkWidth: 100px;
@columnWidth : 400px;

// CLEARFIX
.clearfix {

	&:after {
		clear: both;
		content: ' ';
		display: block;
		font-size: 0;
		line-height: 0;
		visibility: hidden;
		width: 0;
		height: 0;
	}

	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}


.ct-storyItem {
  width: @storyItemWidth;

  position: relative;
  margin: 40px 0 10px 0;
  z-index: 1;

  -webkit-transition-duration: 1s;

  > .ct-storyItemLink {
    position: absolute;

    top: 18px;

    > .ct-storyItemLinkLine {
      position: absolute;
      border: 2px solid @storyLineColor;
      width: @storyItemLinkWidth;

      > .ct-storyItemLinkDot {
        position: absolute;
        border-radius: @storyLineDotRadius;
        border: @storyLineDotRadius solid @storyLineColor;
        margin-top: -@storyLineDotRadius;
      }
    }
  }

  &.ct-storyItem_left {
    //margin-left: -@storyItemWidth - @storyItemLinkWidth;

    > .ct-storyItemLink {
      right: 0;

      > .ct-storyItemLinkLine {

        > .ct-storyItemLinkDot {
          right: -@storyLineDotRadius;
        }
      }
    }
  }

  &.ct-storyItem_right {
    //margin-left: @storyItemLinkWidth;
    margin-top: 60px;
    > .ct-storyItemLink {
      left: 0;
      margin-left: -@storyItemLinkWidth;

      > .ct-storyItemLinkLine {

        > .ct-storyItemLinkDot {
          left: -@storyLineDotRadius;
        }
      }
    }
  }

  > .ct-item_content {
    position: relative;
    width : 400px;

    border: 1px solid #b3b3b3;
    -webkit-box-shadow: 0px 10px 10px -8px #CCC ;


    background: #f2f2f2;

    font-family: @helvetica;
    color: #595959;
    font-size: 14px;

    // Used to close the div after the floating ct-storyFeaturedImage.
    overflow: hidden;
    
    > *:not(:last-child) {
      background: url('/media/images/story/item/element_line.png');
      background-repeat : repeat-x;
      background-position: bottom;
    }
    
    > .ct-featured_image {
      float: left;
      margin: 0px;
      width: 400px;
      
      > img {
        width: 400px;
      }
    }

    > .ct-item_toolbox {
      // need clearfix because sub elements are floating.
      .clearfix;

      width: 380px;
      margin: 0px;
      padding: 2px 10px;


      > .ct-date {
        float: left;
        margin: 12px 12px 0 5px;

        font-size: 20px;
        text-transform:uppercase;
        font-weight: bold;
        color: #AAA;
      }

      > .ct-item_button {
        float: right;

        width: 50px;
        height: 50px;
        margin: 0 5px 0 5px;

        background: url('/media/images/story/item/element_icon.png');

        > img {
          width: 16px;
          height: 16px;
          margin: 17px 0 0 17px;
        }

      }

      > .ct-favicon {
        .ct-item_button;

      }

      > .ct-edit_button {
        .ct-item_button;
      }

      > .ct-lock_button {
        .ct-item_button;
      }
    }

    > .ct-item_description {
      width: 380px;
      padding: 10px;
      color: #333;

      > h2 {
        text-align: center;
        margin: 0;
        
        > a {
          font-size: 18px;
          text-decoration: none;
          color: #333;
          
          &:visited {
            text-decoration: none;
            color: #333;
          }
        }
        
      }

      > p {
        font-size: 12px;
        text-align: left;
      }
    }

  }

}
