@font-face {
  font-family: 'Helvetica-Light';
  src: url('/media/fonts/Helvetica-Light.ttf');
}

@media (min-height : 537px){
.ct{height: 100%;}
}
@media (max-height : 537px){
.ct{height: 503px;}
}

body{
  overflow-x: hidden;
  background-size: cover;
  margin: 0;
  font-family: Helvetica-Light;
	font-weight: 100;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
}

.ct {
  position: absolute;
	width: 100%;
	height: 100%;
}

#blur_target{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	&.hiddenBackground{
    opacity: 0;
  	-webkit-transition: opacity 0.8s;
  }
}

.ct-menu {
//TODO (rkorach) : find a way to have the menu scroll at the same time as container on responsive design
  position: fixed;
  left: -250px;
  width: 245px;
  height: 100%;
  background-color: #333;
  box-shadow: 4px 0px 12px rgba(0,0,0,0.5);
  z-index: 150;
  > .ct-sum_up {
    height: 300px;
    width: 100%;

    > .ct-sticker {
      position: relative;
      width: 222px;
      height: 222px;
      border-radius: 5px;
      -webkit-border-radius: 2px;
      margin: auto;
      margin-top: 15px;
      box-shadow: 0px 0px 5px rgba(0,0,0,0.75);

      > .ct-story_image {
	      position: relative;
	      width: 100%;
	      height: 174px;
	      background-image: url('/media/images/menu/sum_up/default_sticker.png');
	      overflow: hidden;
			  -webkit-border-radius: 2px 2px 0 0;

        > .resize {
				   display: none;
				   position: absolute;
				  }
        }

      > .ct-infos {
        height: 48px;
        width: 100%;
        background-color: #262626;

			  .menu_pages_count, .menu_images_count, .menu_videos_count{
				  font-size: 11px;
				  color: #8a8a8a;
				}

			  .bull{
				  font-size: 8px;
				}
      }
    }

    > .ct-options {
      height: 20px;
      width: 222px;
      margin: auto;
      margin-top: 12px;
      margin-bottom: 12px;

      > .ct-option {
        height: 22px;
        width: 22px;
        margin-left: 10px;
        float: left;
				cursor: pointer;

        &.star{
          background-image: url('/media/images/menu/sum_up/star_unselected.png');
        }
        &.comment{
          background-image: url('/media/images/menu/sum_up/comment.png');
        }
        &.share{
          background-image: url('/media/images/menu/sum_up/share.png');
        }
      }
    }
  }

  > .ct-filters {
    width: 100%;
    bottom: 50px;
    > .ct-filter_options {
      padding-top: 10px;
      padding-bottom: 10px;
		  vertical-align: middle;

      > .ct-filter {
        width: 206px;
        padding-left: 22px;
	    	padding-top: 5px;
        height: 18px;
        margin: auto;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        color: #fff;
				cursor: pointer;

        &:hover{
          background-color: #454545;
        }
      }
    }
  }

  .separation_line {
    height: 1px;
    width: 228px;
    margin: auto;
    background-color: #1a1a1a;
    box-shadow: 0px 1px 0px #3F3F3F;
  }

  > .ct-settings {
    bottom: 0;
    height: 40px;
    width: 100%;
	background-color: #858585;
	box-shadow: inset 0px 12px 5px -10px rgba(255,255,255,0.27);
  }

  @media (min-height : 540px){
	.ct-filters{position: absolute;}
	.ct-settings{position: absolute;}
	.ct-timeline{position: fixed;}
	.ct{height: 100%;}
  }
  @media (max-height : 540px){
	.ct-filters{position: static;}
	.ct-settings{position: static;}
	.ct-timeline{position: absolute;}
	.ct{height: 540px;}
  }
}


.spacer {
	position: relative;
	width: 245px;
	height: 100%;
	float: left;
}

.storyboard{
	position: relative;
	height: 100%;
	overflow-y: hidden;

	&::-webkit-scrollbar{
		  position: absolute;
		  right: 0px;
		  background-color: rgba(255,255,255,0.4);
		  height: 40px;
		  box-shadow: inset 0px 12px 5px -10px rgba(255,255,255,0.27);
	}

	&::-webkit-scrollbar-thumb{
		  background-color: rgba(255,255,255,0.4);
		  box-shadow: inset 0px 12px 5px -10px rgba(255,255,255,0.27);
	}
}

.ct-story_container {
	position: relative;
	padding-right: 10px;
  height: 100%;
}
