@extensionId : ~"__MSG_@@extension_id__";
@extensionPath : "chrome-extension://@{extensionId}";
@curtainGradientBorder: rgba(0, 0, 0, 0.3);
@curtainGradientCenter: rgba(0, 0, 0, 0);
@curtainGradient: -webkit-gradient(linear, 0 0, 100% 0, from(@curtainGradientBorder), color-stop(40%, @curtainGradientCenter), color-stop(60%, @curtainGradientCenter), to(@curtainGradientBorder));
@boardWidth: 400px;
@boardHeight: 465px;
@openingDuration: 1s;

@lensWidth: 301px;
@lensHeight: 301px;

@font-face {
  font-family: 'AbrahamLincoln';
  src: url('/media/fonts/AbrahamLincoln.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BallparkWeiner';
  src: url('/media/fonts/ballpark_weiner.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;

  // Hide the body while it's not loaded yet.
  opacity: 0;

  -webkit-transition-duration: 3s;

  &.ct-body-loaded {
    opacity: 1;
  }

  // Overall light on top of everything.
  &:after {
    content: "";
    //position: absolute;
    width: 100%;
    height: 409px;
    background-image: url('/media/images/light.png');
    background-position: center bottom;
    background-repeat: no-repeat;

    -webkit-transition-duration: @openingDuration;
  }
}


// Curtain on top of the landscape.
.ct-curtain {
  background-color: #f8f8f8;
  position: absolute;
  width: 100%;
  // Sometimes using 80% results in a 1px white line.
  height: 81%;
  z-index : 200;
  -webkit-transition-duration: @openingDuration;

  &:after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 116px;
    bottom: 0;
  }

  .ct-lens {
    position: absolute;
    left: 20%;
    top: 40%;
    width: @lensWidth;
    height: @lensHeight;
    background-image: url('/media/images/loading/lens_background.png');
    background-size: 100% 100%;
    z-index : 0;
    -webkit-transition-duration: @openingDuration;

    > .shadow {
      width: @lensWidth;
      height: @lensHeight;
      position: absolute;
      z-index: 1;
      background-image: url('/media/images/loading/lens_border_shadow.png');
    }

    > .glass {
      width: @lensWidth;
      height: @lensHeight;
      position: absolute;
      z-index: 10;
      background-image: url('/media/images/loading/lens_glass.png');
    }

    @-webkit-keyframes rotate {
      from {
        -webkit-transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
      }
    }
    > .gear1 {
      position:absolute;
      top : 30px;
      left: 50px;

      &.middlescrew {
        width: 117px;
        height: 117px;
        position: absolute;
        z-index: 5;
        background-image: url('/media/images/loading/lens_gears1_middlescrew.png');
      }

      &.shine {
        z-index : 4;
        -webkit-mask-box-image: url('/media/images/loading/lens_gears1.gif');
      }

      &.perspective {
        z-index : 3;
        margin-top:2px;
        margin-left:2px;
      }
    }

    > .gear2 {
      position:absolute;
      top : 40px;
      left: 110px;

      &.middlescrew {
        width: 117px;
        height: 117px;
        margin: 47px 0 0 47px;
        position: absolute;
        z-index: 5;
      }

      &.shine {
        z-index : 4;
        -webkit-animation-name: rotate;
        -webkit-animation-duration: 10000ms; /* 40 seconds */
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
      }

      &.perspective {
        z-index : 3;
        margin-top:2px;
        margin-left:2px;

        -webkit-animation-name: rotate;
        -webkit-animation-duration: 10000ms; /* 40 seconds */
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
      }
    }

  }

  h1 {
    font-family: BallparkWeiner;
    position: absolute;
    top: 70px;
    left: 140px;
    font-size: 44px;
    text-indent: -1.5em;
    -webkit-transform: rotateZ(-5deg);
    color: #c63a15;

    > em{
      font-style: normal;
      font-size: 64px;
    }
  }

  p {
    font-family: AbrahamLincoln;
    position: absolute;
    top: 220px;
    left: 10%;
    width: 80%;
    font-size: 20px;
    color: #4d4d4d;
  }

}

.ct-body-open {

  .ct-landscape {
    // Sometimes using 80% results in a 1px white line.
    height: 100%;
    background-position: left 80%;
  }

  .ct-curtain {
    height: 0%;

    .ct-board {
      top: -@boardHeight;
    }

    .ct-lens {
      top: -@lensHeight;
    }

  }
}
