/**
 * Size
 */
@topbar_height: 34px;
@topbar_margin: 20px;
@topbar_max_width: 1450px;
@topbar_min_width: 960px;
@dashboard_width: 396px;
@dashboard_margin: 20px;

/**
 * Colors
 */
@bbgrey: #bbbbbb;
@purewhite: #ffffff;
@pureblack: #000000;
@almondgreen: #42b07d;
@lightalmondgreen: #aae6c3;
@26grey: #262626;
@33grey: #333333;
@f5grey: #f5f5f5;

.ct-story {
  position: relative;
  width: 100%;
  height: calc(~"100% - @{topbar_height} - 2*@{topbar_margin}");
  overflow-y: scroll;

  > .ct-story_container {
    width: calc(~"100% - 2*@{topbar_margin}");
    height: 100%;
    max-width: @topbar_max_width;
    min-width: @topbar_min_width;
    margin: auto;

    > .ct-story_dashboard {
      position: fixed;
      width: 396px;
      height: 100%;
      float: left;
      z-index: 1;
      /* This is not mandatory because of the position: fixed.
      However there would be an offest with the card_deck otherwise. */
      padding-top: 1px;

      &.ct-pushed_back {
        z-index: -1;
      }

      > .ct-epitome {
        position: relative;
        width: 100%;
        height: 268px;
        background-color: @26grey;
        box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.5);
        -webkit-border-radius: 1px 1px 1px 1px;

        > .ct-epitome_background {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position-y: 25%;
          -webkit-filter: grayscale(100%) brightness(65%);
          box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,0.25);
        }

        &:before {
          content: "";
          position: absolute;
          top: 1px;
          width: 100%;
          height: 100%;
          box-shadow: 0px 5px 2px -3px rgba(0, 0, 0, 0.25);
        }

        > .ct-sticker {
          position: absolute;
          top: 33px;
          left: 35px;
          margin: 0;
          background-color: @33grey;
        }

        > .ct-epitome_button {
          position: absolute;
          right: 0;
          width: 172px;
          padding-top: 3px;
          padding-bottom: 3px;
          background-color: rgba(0,0,0,0.5);
          color: white;
          padding-left: 39px;
          font-size: 14px;

          &.related_button {
            top: 188px;
            cursor: default;

            &.ct-active {
              cursor: pointer;
            }
          }

          &.ct-back_button {
            top: 188px;
            cursor: pointer;
          }

          &.ct-hidden {
            display: none;
          }
        }

        &.ct-black_domain{
          > .ct-card_domain {
            color: @pureblack;
          }
        }
      }
    }

    > .ct-story_card_deck {
      position: relative;
      left: @dashboard_width + @dashboard_margin;
      /* /!\ 100% here is the size of the story_container*/
      width: calc(~"100% - @{dashboard_margin} - @{dashboard_width}");
      /* this is to have the top card border appearing */
      padding-top: 1px;
      padding-bottom: 20px;

      > .ct-card {
        position: relative;
        width: 100%;
        background-color: @f5grey;
        margin-bottom: 20px;
        box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.5);
        -webkit-border-radius: 1px 1px 1px 1px;

        > .ct-delete_card {
          position: absolute;
          top: 9px;
          right: 9px;
          width: 11px;
          height: 11px;
          background-image: url('/media/images/common/ct-icons.png');
          background-position-x : -12px;
          cursor: pointer;

          &:hover {
            background-position-x : 0;
          }
        }

        > .ct-card_website {
          position: absolute;
          left: 10px;
          bottom: 8px;

          > .ct-card_domain {
            padding-left: 5px;
            color: @purewhite;
            font-size: 14px;
            display: table-cell;
            vertical-align: middle;
          }

          > .ct-card_favicon {
            float: left;
            width: 16px;
            margin-top: 2px;
          }

          &.ct-black_domain {
            > .ct-card_domain {
              color: @pureblack;
            }
          }
        }

        > .ct-card_details {
          padding-top: 10px;
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 10px;
          overflow: hidden;

          > .ct-card_title {
            width: 100%;
            font-size: 16px;
            color: @pureblack;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          > .ct-card_url {
            position: absolute;
            bottom: 10px;
            right: 12px;
            width: 260px;
            font-size: 12px;
            color: @33grey;
            overflow: hidden;
            white-space: nowrap;
            text-align: right;
          }
        }

        &.ct-image_card, &.ct-video_card, &.ct-map_card {
          height: 325px;

          > .ct-media_map {
            float: left;
          }

          > .ct-media_image, .ct-media_video {
            float: left;
            height: 100%;

            &:after {
              position: absolute;
              width: 100%;
              height: 100%;
              content: "";
              -webkit-box-shadow: inset 0px -90px 60px -60px rgba(0,0,0,0.8);
            }

            &.ct-full_image {
              /*if full image in an image element*/
              width: 501px;
            }

            &.ct-full_video {
              width: 501px;
              cursor: pointer;
              position: relative;

              &:after {
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('/media/images/story/card/ct-video_play_icon.png');
              }

              &.ct-play {
                &:after {
                  display: none;
                }
              }
            }
          }
        }

        &.ct-default_card {
            height: 105px;

          > .ct-media_image {
            float: left;
            height: 100%;
            -webkit-box-shadow: inset 0px -90px 60px -60px rgba(0,0,0,0.8);

            &.ct-featured_image {
              /*if featured image in an default element*/
              width: 250px;
            }
          }
        }
      }
    }
  }
}
