/**
 * Sizes
 */
@topbar_height: 40px;
@topbar_margin: 100px;
@logo_width: 109px;

/**
 * Colors
 */
@submagreen: #475259;
@azulgreen: #52C8B8;
@greygreen: #636E75;

.ct-topbar_container {
  position: fixed;
  width: 100%;
  height: @topbar_height;
  z-index:2;
  background-color: @submagreen;
}
.ct-topbar {
  position: relative;
  width: calc(~"100% - 2*@{topbar_margin}");
  margin: auto;
  height: @topbar_height;

  > .ct-logo_topbar {
    width: @logo_width;
    -webkit-box-sizing: border-box;
    height: 100%;
    float: left;
    background-repeat: no-repeat;
    background-image: url('/media/images/topbar/ct-logo_topbar.png');
    background-size: contain;
    background-position: 0 7px;
    cursor: pointer;
  }

  > .ct-menu_topbar {
    width: calc(~"32% - @{logo_width}");
    -webkit-box-sizing: border-box;
    min-width: 125px;
    height: 100%;
    float: left;

    > .ct-history_arrows {
      float: left;
      margin-top: 15px;
      margin-left: 45px;

      > .ct-history_arrow_left {
      	border-top: 5px solid transparent;
      	border-bottom: 5px solid transparent;
      	border-right: 8px solid @greygreen;
        float: left;
        margin-right: 20px;

        &.ct-active {
          border-right-color: @azulgreen;
          cursor: pointer;
        }
      }

      > .ct-history_arrow_right {
      	border-top: 5px solid transparent;
      	border-bottom: 5px solid transparent;
      	border-left: 8px solid @greygreen;
        float: left;

        &.ct-active {
          border-left-color: @azulgreen;
          cursor: pointer;
        }
      }
    }

    > .ct-favorites_menu_topbar {
      float: left;
      margin-top: 8px;
      margin-left: 20px;
      width: 18px;
      height: 18px;
      background-image: url('/media/images/common/ct-icons.png');
      background-position: 0 -60px;
      cursor: pointer;
    }

    > .ct-settings_menu_topbar {
      float: right;
      height: 18px;
      width: 18px;
      background-repeat: no-repeat;
      background-image: url('/media/images/common/ct-icons.png');
      background-position: -50px -10px;
      cursor: pointer;
      margin-top: 8px;
      margin-right: 16px;
    }
  }
}
