/**
 * Sizes
 */
@topbar_max_width: 1450px;
@topbar_min_width: 960px;
@topbar_height: 34px;
@topbar_margin: 20px;
@footer_height: 60px;

/**
 * Colors
 */
@33grey: #333333;
@e6grey: #e6e6e6;
@purewhite: #ffffff;

.ct-manager {
  position: relative;
  top: 2*@topbar_margin + @topbar_height;
  width: 100%;

  > .ct-shelves_container {
    width: calc(~"100% - 2*@{topbar_margin}");
    max-width: @topbar_max_width;
    min-width: @topbar_min_width;
    margin: auto;

    &.ct-footer_spacer {
      padding-bottom: @footer_height;
    }

    > .ct-shelf {
      width: 100%;
      position: relative;
      overflow: hidden;

      > .ct-timestamp {
        position: relative;
        width: 100%;
        clear: both;
        height: 36px;
        overflow: hidden;
        -webkit-transition-property: height;
        -webkit-transition-duration: 0.6s;

        &.ct-collapsed {
          height: 0px;
        }

        &:before {
          position: absolute;
          width: 100%;
          height: 1px;
          top: 20px;
          content: "";
          background: @e6grey;
          z-index: -1;
        }

        > .ct-timestamp_date {
          background-color: @33grey;
          font-family: SourceSansPro-Light;
          height: 21px;
          padding-left: 5px;
          padding-right: 10px;
          font-size: 28px;
          color: @e6grey;
          display: table-cell;
          vertical-align: middle;
        }
      }

      > .ct-covers_container {
        position: relative;
        margin-top: 10px;
        z-index: 1;

        &.ct-collapsed {
          height: 0px;
        }

        &.ct-animate {
          -webkit-transition-property: height;
          -webkit-transition-duration: 0.6s;
        }
      }
    }
  }

  > .ct-no_story {
    font-family: SourceSansPro-Light;
    font-size: 21px;
    width: 100%;
    height: 100%;
    color: @purewhite;
    text-align: center;
    vertical-align: middle;
  }


  > .ct-footer {
    width: 100%;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
    color: @purewhite;
    cursor: default;

    > .ct-underline {
      position: relative;
      top: -2px;
      text-decoration: underline;
    }
  }
}
