/**
 * Size
 */
@topbar_height: 34px;
@topbar_margin: 20px;
@topbar_max_width: 1450px;
@topbar_min_width: 960px;
@dashboard_width: 396px;
@dashboard_margin: 20px;
@card_adder_height: 113px;

/**
 * Colors
 */
@bbgrey: #bbbbbb;
@purewhite: #ffffff;
@pureblack: #000000;
@almondgreen: #42b07d;
@lightalmondgreen: #aae6c3;
@26grey: #262626;
@33grey: #333333;
@f5grey: #f5f5f5;
@bfgrey: #bfbfbf;
@55grey: #555555;

.ct-story {
  position: relative;
  top: 2*@topbar_margin + @topbar_height;
  width: 100%;

  > .ct-story_container {
    width: calc(~"100% - 2*@{topbar_margin}");
    max-width: @topbar_max_width;
    min-width: @topbar_min_width;
    margin: auto;

    > .ct-story_dashboard {
      position: fixed;
      top: 2*@topbar_margin + @topbar_height;
      width: 396px;
      float: left;
      z-index: 1;
      /* This is not mandatory because of the position: fixed.
      However there would be an offest with the card_deck otherwise. */
      padding-top: 1px;

      &.ct-pushed_back {
        z-index: -1;
      }

      > .ct-epitome {
        position: relative;
        width: 100%;
        height: 268px;
        background-color: @26grey;
        box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.5);
        -webkit-border-radius: 1px 1px 1px 1px;

        > .ct-epitome_background {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position-y: 25%;
          -webkit-filter: grayscale(100%) brightness(65%);
          box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,0.25);
        }

        &:before {
          content: "";
          position: absolute;
          top: 1px;
          width: 100%;
          height: 100%;
          box-shadow: 0px 5px 2px -3px rgba(0, 0, 0, 0.25);
        }

        > .ct-sticker {
          position: absolute;
          top: 33px;
          left: 35px;
          margin: 0;
          background-color: @33grey;
        }

        > .ct-epitome_button {
          position: absolute;
          right: 0;
          width: 172px;
          padding-top: 3px;
          padding-bottom: 3px;
          background-color: rgba(0,0,0,0.5);
          color: white;
          padding-left: 39px;
          font-size: 14px;

          &.favorite_button, &.unfavorite_button {
            top: 158px;
            cursor: pointer;
          }

          &.related_button {
            top: 188px;
            cursor: default;

            &.ct-active {
              cursor: pointer;
            }
          }

          &.ct-back_button {
            top: 188px;
            cursor: pointer;
          }

          &.ct-hidden {
            display: none;
          }
        }
      }
    }

    > .ct-story_deck {
      position: relative;
      left: @dashboard_width + @dashboard_margin;
      /* /!\ 100% here is the size of the story_container*/
      width: calc(~"100% - @{dashboard_margin} - @{dashboard_width}");
      /* this is to have the top card border appearing */
      padding-top: 1px;
      padding-bottom: 20px;

      &.ct-related_deck {
        z-index: 1;
      }

      &.ct-card_deck {
        > .ct-card {
          position: relative;
          width: 100%;
          background-color: @f5grey;
          margin-bottom: 20px;
          box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.5);
          -webkit-border-radius: 1px 1px 1px 1px;
          -webkit-transition-duration: 0.6s;
          -webkit-transition-property: left, opacity;

          &.ct-height_animate {
            -webkit-transition-property: left, opacity, height;
          }

          &.ct-collapsed {
            left: @topbar_max_width;
            opacity: 0;
          }

          &.ct-card_adder {

            > .ct-card_adder_toolbar {
              padding-top: 8px;
              padding-bottom: 11px;
              height: 18px;

              > .ct-add_new_card {
                margin-left: 19px;
                padding-left: 24px;
                cursor: pointer;
                float: left;
                background-image: url('/media/images/common/ct-icons.png');
                background-position: -20px -40px;
                background-repeat: no-repeat;
              }
            }

            > .ct-cards_adder_list {
              height: @card_adder_height;
              border-top: solid 1px @bbgrey;
              padding-left: 16px;
              padding-right: 16px;
              overflow: scroll;

              > .ct-no_pool_item {
                text-align: center;
                margin-top: 35px;
                color: @55grey;
              }

              > .ct-pool_item {
                clear: both;
                height: 20px;
                margin-top: 5px;
                margin-bottom: 5px;
                cursor: pointer;

                > .ct-pool_item_favicon {
                  float: left;
                  margin-right: 10px;
                  position: relative;
                  top: 2px;
                }

                > .ct-pool_item_title {
                  float: left;
                  font-size: 14px;
                  width: 460px;
                  overflow: hidden;
                  white-space: nowrap;
                }

                > .ct-pool_item_url {
                  float: right;
                  width: 260px;
                  font-size: 12px;
                  color: #333333;
                  overflow: hidden;
                  white-space: nowrap;
                  text-align: right;
                }
              }
            }
          }

          > .ct-delete_card {
            position: absolute;
            top: 9px;
            right: 9px;
            width: 11px;
            height: 11px;
            background-image: url('/media/images/common/ct-icons.png');
            background-position-x : -12px;
            cursor: pointer;

            &:hover {
              background-position-x : 0;
            }
          }

          > .ct-sharer {
            position: absolute;
            bottom: 0px;
            height: 20px;
            padding: 5px 0 5px 0;

            > .ct-share_icon {
              background-image: url('/media/images/common/ct-icons.png');
              cursor: pointer;
            }

            &.ct-open {
              left: 0px;
              width: 250px;
              background-color: @f5grey;

              > .ct-share_icon {
                height: 14px;
                top: 9px;
                background-position-x: 0px;
                background-position-y: -111px;
              }
            }

            &.ct-closed {
              left: 230px;
              width: 20px;

              > .ct-share_icon {
                width: 18px;
                height: 18px;
                position: absolute;
                right: 5px;
                background-position-y: -94px;

                &:hover {
                  background-position-x: -18px;
                }
              }
            }

            > .ct-share_icon {
              width: 18px;
              height: 18px;
              position: absolute;
              right: 5px;
              background-image: url('/media/images/common/ct-icons.png');
              background-position-y: -94px;
              cursor: pointer;
            }

            &.ct-black_sharer {
              &.ct-closed {
                > .ct-share_icon {
                  background-position-x: -36px;

                  &:hover {
                    background-position-x: -18px;
                  }
                }
              }
            }

            > .ct-sharer_networks {
              width: 165px;
              margin: auto;

              > .ct-card_share {
                font-size: 12px;
                color: @pureblack;
                margin-left: 5px;
                margin-right: 5px;
                position: relative;
                top: -2px;

                &:hover {
                  color: @almondgreen;
                }
              }
            }
          }

          > .ct-card_website {
            position: absolute;
            left: 10px;
            bottom: 8px;

            > .ct-card_domain {
              padding-left: 5px;
              color: @purewhite;
              font-size: 14px;
              display: table-cell;
              vertical-align: middle;
            }

            > .ct-card_favicon {
              float: left;
              width: 16px;
              margin-top: 2px;
            }

            &.ct-black_domain {
              > .ct-card_domain {
                color: @pureblack;
              }
            }
          }

          > .ct-card_details {
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 10px;
            overflow: hidden;

            > .ct-card_title {
              width: 100%;
              font-size: 16px;
              color: @pureblack;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;

              &.ct-one_liner{
                -webkit-line-clamp: 1;
              }
            }

            > .ct-card_url {
              position: absolute;
              bottom: 10px;
              right: 12px;
              width: 260px;
              font-size: 12px;
              color: @33grey;
              overflow: hidden;
              white-space: nowrap;
              text-align: right;
            }
          }

          &.ct-image_card, &.ct-video_card, &.ct-map_card {
            height: 325px;

            > .ct-media_map {
              float: left;
            }

            > .ct-media_image, .ct-media_video {
              float: left;
              height: 100%;
              background-image: url('/media/images/story/card/ct-image_loading.gif');

              &:after {
                position: absolute;
                width: 100%;
                height: 100%;
                content: "";
                -webkit-box-shadow: inset 0px -90px 60px -60px rgba(0,0,0,0.8);
              }

              &.ct-full_image {
                /*if full image in an image element*/
                width: 501px;
              }

              &.ct-full_video {
                width: 501px;
                cursor: pointer;
                position: relative;
                background-position: 50% 50%;

                &:after {
                  background-repeat: no-repeat;
                  background-position: center;
                  background-image: url('/media/images/story/card/ct-video_play_icon.png');
                }

                &.ct-play {
                  &:after {
                    display: none;
                  }
                }
              }
            }

            > .ct-sharer {
              left: 481px;

              &.ct-open {
                left: 0px;
                width: 501px;
              }
            }
          }

          &.ct-default_card {
            min-height: 105px;

            > .ct-media_image {
              float: left;
              height: 100%;
              -webkit-box-shadow: inset 0px -90px 60px -60px rgba(0,0,0,0.8);

              &.ct-featured_image {
                /*if featured image in an default element*/
                width: 250px;
              }
            }

            > .ct-card_details {
              padding-left: 27px;
              padding-right: 27px;

              > .ct-quote_holder {
                max-height: 190px;
                overflow-y: scroll;
                margin-top: 10px;
                margin-bottom: 20px;
                padding-left: 5px;
                padding-right: 10px;
                margin-left: -17px;

                > .ct-paragraph {
                  position: relative;
                  font-family : OpenBaskerville;
                  padding-left: 20px;

                  &:first-child {
                    margin-top: 0;
                  }

                  &:last-child {
                    margin-bottom: 0;
                  }

                  > .ct-quote_border {
                    border-right: solid 1px @bfgrey;
                    position: absolute;
                    left: -3px;
                    top: 0;
                    width: 16px;
                    height: 100%;

                    &:hover {
                      border-color: @almondgreen;
                    }

                    > .ct-delete_quote {
                      display: none;
                      width: 16px;
                      height: 12px;
                      position: absolute;
                      top: 50%;
                      margin-top: -6px;
                      background-position: -1px -41px;
                      background-image: url('/media/images/common/ct-icons.png');
                      background-repeat: no-repeat;
                      cursor: pointer;
                    }
                  }

                  &:hover {
                    > .ct-quote_border {
                      border-color: @almondgreen;
                    }
                  }

                  > .ct-quote {
                    background: @lightalmondgreen;
                  }
                }
              }
            }
          }
        }
      }
    }

    > .ct-related_stories {
      height: 100%;
      width: 791px;
      position: relative;
      overflow-x: hidden;
      padding-top: 1px;
      padding-left: 10px;
      padding-right: 10px;
      z-index: 1;
    }
  }
}
