/* ::::: http://s.meebocdn.net/cim/skin_v108_cim_11_34_19/bar.w3c.css ::::: */

html, body { margin: 0px; padding: 0px; border: 0px none; overflow: hidden; color: rgb(0, 0, 0); height: 100%; }
m, m_span, a, div, span, .meebo-0 { border: 0px none; width: auto; height: auto; text-align: left; float: none; padding: 0px; margin: 0px; font: 11px/1.2 Arial,sans-serif; overflow: visible; position: static; }
