div.bsap_1271833 { width: 100%; display: block; }
div.bsap_1271833 a { width: 300px; }
div.bsap_1271833 a img { padding: 0px; }
div.bsap_1271833 a { display: block; font-size: 11px; color: rgb(136, 136, 136); font-family: verdana,sans-serif; margin: 0px; text-align: center; text-decoration: none; overflow: hidden; float: left; }
div.bsap_1271833 img { border: 0px none; clear: right; }
div.bsap_1271833 a { line-height: 100%; }
div.bsap_1271833 { line-height: 9px; }
