/* ::::: http://swombat.com/stylesheets/bp/screen.css?1338837186 ::::: */

html { margin: 0px; padding: 0px; border: 0px none; }
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section { margin: 0px; padding: 0px; border: 0px none; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body { line-height: 1.5; background: none repeat scroll 0% 0% white; }
:focus { outline: 0px none; }
html { font-size: 100.01%; }
body { font-size: 75%; color: rgb(34, 34, 34); background: none repeat scroll 0% 0% rgb(255, 255, 255); font-family: "Helvetica Neue",Arial,Helvetica,sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; color: rgb(17, 17, 17); }
h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
p { margin: 0px 0px 1.5em; }
a:focus, a:hover { color: rgb(0, 153, 255); }
a { color: rgb(0, 102, 204); text-decoration: underline; }
tbody tr:nth-child(2n) td, tbody tr.even td { background: none repeat scroll 0% 0% rgb(229, 236, 249); }
.small { font-size: 0.8em; margin-bottom: 1.875em; line-height: 1.875em; }
input[type="text"], input[type="password"], input.text, input.title, textarea { background-color: rgb(255, 255, 255); border: 1px solid rgb(187, 187, 187); }
input[type="text"]:focus, input[type="password"]:focus, input.text:focus, input.title:focus, textarea:focus { border-color: rgb(102, 102, 102); }
input[type="text"], input[type="password"], input.text, input.title, textarea, select { margin: 0.5em 0px; }
.container { width: 670px; margin: 0px auto; }
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17 { float: left; margin-right: 10px; }
.span-4 { width: 150px; }
.span-12 { width: 470px; }
.span-16 { width: 630px; }
.clearfix:after, .container:after { content: " "; display: block; height: 0px; clear: both; visibility: hidden; overflow: hidden; }
.clearfix, .container { display: block; }
/* ::::: http://swombat.com/stylesheets/pepper-grinder/jquery-ui-1.8.16.custom.css?1338837186 ::::: */

button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
/* ::::: http://swombat.com/stylesheets/colours.css?1342203466 ::::: */

body { background: url('background.png') repeat scroll 0% 0% transparent; font-family: 'Helvetica Neue',Verdana,Arial,Helvetica,sans-serif; font-size: 15px; }
#corner-image { background: url('corner.png') no-repeat scroll 0% 0% transparent; width: 290px; height: 290px; position: absolute; left: 0px; top: 0px; z-index: -10; }
#header-image { background: url('header.png') no-repeat scroll 0% 0% transparent; width: 273px; height: 55px; margin-top: 70px; margin-left: 162px; cursor: pointer; }
#header-byline { margin-left: 179px; margin-bottom: 70px; color: rgb(170, 170, 170); font-size: 15px; text-shadow: 1px 1px 1px rgb(221, 221, 221); }
#sidebar-left { text-align: right; padding-right: 18px; }
.post-body { margin-bottom: 3em; }
.post-date { margin-top: 0.75em; margin-bottom: 0.75em; color: rgb(136, 136, 136); }
a { text-decoration: none; color: rgb(128, 0, 4); border-bottom: 1px solid rgb(221, 221, 221); }
a:hover { color: rgb(204, 0, 0); background-color: rgb(238, 238, 238); border: medium none; }
.another-article { margin-top: 0.75em; margin-bottom: 0.75em; float: right; }
.social-link-box { float: right; }
.social-link { color: rgb(136, 136, 136); position: relative; bottom: 10px; }
.light { color: rgb(136, 136, 136); }
h2 { font-size: 1.5em; }
table tr:nth-child(2n) td { background: none repeat scroll 0% 0% transparent; }
/* ::::: http://swombat.com/stylesheets/positioning.css?1338837186 ::::: */

/* ::::: http://swombat.com/stylesheets/typography.css?1338837186 ::::: */

