/* ::::: http://www.zdnet.com/css/scaffolding.css?1365719975 ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
body { line-height: 1; }
ol, ul { list-style: none outside none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
html { overflow-y: scroll; font-size: 100%; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0px none; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio:not([controls]) { display: none; }
img { border: 0px none; vertical-align: top; }
button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: baseline; }
button, input { line-height: normal; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
b, strong { font-weight: bold; }
nav ul { list-style-type: none; padding: 0px; margin: 0px; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; color: rgb(37, 37, 37); }
h1 { font-size: 30px; margin-bottom: 20px; line-height: 28px; }
h2 { font-size: 24px; line-height: 28px; color: rgb(150, 21, 21); margin-bottom: 10px; }
h3, h4, h5, h6 { margin-bottom: 5px; }
h3 { font-size: 18px; }
section { margin-bottom: 40px; }
p, pre { margin-bottom: 20px; }
ul, ol { margin-left: 20px; margin-bottom: 20px; }
ul ul, ol ul, ul ol, ol ol { margin-bottom: 0px; }
ul { list-style-type: disc; }
.pagination { margin-bottom: 20px; }
.pagination li { display: inline; margin: 0px 3px 0px 0px; }
.pagination li.prev, .pagination li.next { padding: 4px 7px; }
.pagination li.next a:after { content: "»"; position: relative; right: -4px; padding-right: 3px; }
form label { display: block; font-weight: bold; margin-bottom: 5px; }
form input[type="text"], form input[type="password"], form textarea, form select { border-radius: 3px 3px 3px 3px; box-shadow: 0px 0px 4px rgba(147, 147, 147, 0.25) inset; -moz-box-sizing: border-box; height: 30px; padding: 5px 10px; font-size: 12px; font-family: Verdana,Arial,sans-serif; color: rgb(37, 37, 37); border: 1px solid rgb(226, 226, 226); margin-bottom: 10px; width: 100%; }
form input[type="radio"], form input[type="checkbox"] { margin: 0px 6px 6px 0px; }
form input:-moz-placeholder { color: rgb(108, 115, 118); }
form .checkbox { margin-bottom: 10px; padding: 0px 0px 0px 20px; }
form .checkbox input { margin-left: -20px; }
.module .box > ul { margin: 0px; padding: 0px; list-style-type: none; }
.module .box > ul > li { margin-bottom: 10px; padding-bottom: 10px; }
.module .box > ul > li p { margin: 0px; }
.menu { display: none; position: absolute; z-index: 9999991; }
.expandable:hover .menu { display: block; }
.button, .button:hover { display: inline-block; position: relative; border-radius: 3px 3px 3px 3px; box-shadow: 0px 1px 0px rgb(139, 139, 144), 0px 1px 0px 0px rgba(255, 255, 255, 0.4) inset; background: -moz-linear-gradient(center top , rgb(215, 216, 217), rgb(170, 170, 171)) repeat scroll 0% 0% transparent; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.65); color: rgb(37, 37, 37); padding: 5px 20px; font-weight: bold; border: 1px solid rgb(167, 167, 168); text-decoration: none; text-align: center; margin-bottom: 5px; }
.pagination {  }
.pagination:before, .pagination:after { display: table; content: ""; }
.pagination:after { clear: both; }
.pagination li { float: left; font-size: 11px; margin-bottom: 5px; }
.pagination li a, .pagination li span { box-shadow: 0px 1px 1px rgb(255, 255, 255) inset, 0px 2px 3px rgba(0, 0, 0, 0.2); text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75); background: -moz-linear-gradient(center top , rgb(225, 227, 229), rgb(177, 183, 189)) repeat scroll 0% 0% transparent; border-width: 1px; border-style: solid; border-color: rgb(199, 202, 207) rgb(199, 202, 207) rgb(144, 150, 160); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(108, 115, 118); display: inline-block; line-height: 22px; padding: 0px 8px; }
.pagination li a:hover { background: -moz-linear-gradient(center top , rgb(239, 240, 241), rgb(177, 183, 189)) repeat scroll 0% 0% transparent; color: rgb(0, 0, 0); text-decoration: none; }
.pagination li.selected a, .pagination li.selected a:hover, .pagination li.selected span { box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset, 0px 2px 3px rgba(0, 0, 0, 0.2); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.75); background: -moz-linear-gradient(center top , rgb(76, 111, 146), rgb(34, 68, 103)) repeat scroll 0% 0% transparent; border-width: 1px; border-style: solid; border-color: rgb(34, 68, 103) rgb(34, 68, 103) rgb(9, 17, 26); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(255, 255, 255); }
.pagination li.prev, .pagination li.next { padding: 0px; }
.followOptions { font: italic 12px Georgia,serif; list-style: none outside none; margin: 0px; }
.followOptions li { float: left; line-height: 16px; margin: 0px 0px 0px 5px; }
.followOptions li a { color: rgb(37, 37, 37); }
.followOptions li .icon { margin: -2px 3px 0px; }
.navSupplement { margin-bottom: 10px; position: relative; }
.navSupplement:before, .navSupplement:after { display: table; content: ""; }
.navSupplement:after { clear: both; }
.navSupplement #breadcrumb, .navSupplement .relatedTopics { float: left; margin-bottom: 0px; }
.navSupplement .followOptions { float: right; }
.nav { list-style: none outside none; margin: 0px; }
.nav:before, .nav:after { display: table; content: ""; }
.nav:after { clear: both; }
.nav a { display: block; outline: 0px none; }
.menu { border-radius: 3px 3px 3px 3px; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7); padding: 5px 5px 6px; width: 200px; z-index: 5000001; }
.menu ul { border-radius: 3px 3px 3px 3px; background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 5px 10px; }
.menu ul li { border-bottom: 1px dotted rgb(198, 198, 198); }
.menu ul li a, .menu ul li a:visited, .menu ul li .label { display: block; padding: 5px 0px 5px 2px; }
.menu ul li:last-child { border: 0px none; }
.icon { background: url('sprites.png') no-repeat scroll 0% 0% transparent; display: inline-block; text-indent: -9999px; vertical-align: middle; }
.icon.home { height: 14px; width: 16px; background-position: 0px 0px; }
.icon.home:hover { background-position: 0px -20px; }
.icon.arrow { background-position: 4px -100px; height: 6px; width: 10px; }
.icon.reply { background-position: 0px -540px; height: 13px; width: 12px; }
.icon.vote { background-position: 0px -560px; height: 13px; width: 12px; }
.icon.google { background-position: 0px -940px; height: 16px; width: 16px; }
.icon.alerts { background-position: 0px -700px; height: 16px; width: 16px; }
.icon.rss { background-position: 0px -720px; height: 16px; width: 16px; }
.iconSocial { background: url('sprites-social.png') no-repeat scroll 0% 0% transparent; display: inline-block; text-indent: -9999px; vertical-align: middle; height: 31px; width: 31px; }
.iconSocial.facebook { background-position: 0px 0px; }
.iconSocial.twitter { background-position: -40px 0px; }
.iconSocial.google { background-position: -80px 0px; }
.iconSocial.linkedIn { background-position: -120px 0px; }
.iconSocial.rss { background-position: -160px 0px; }
.iconSocial.iphone { background-position: -240px 0px; }
.iconSocial.android { background-position: -280px 0px; }
form .checkbox { font: 12px Verdana,Arial,sans-serif; }
form label { font: italic 14px Georgia,serif; margin-bottom: 5px; }
form input[type="text"], form input[type="password"], form textarea, form select { box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05) inset; background: none repeat scroll 0% 0% rgb(250, 250, 250); border-color: rgb(198, 198, 198) rgb(224, 224, 224) rgb(224, 224, 224); }
form input[type="text"]:focus, form input[type="password"]:focus, form textarea:focus, form select:focus { border: 1px solid rgb(86, 180, 239); box-shadow: 0px 0px 8px rgba(82, 168, 236, 0.6); }
form input:-moz-placeholder { color: rgb(108, 115, 118); font-family: Georgia,serif; font-style: italic; }
.button, .button:hover { box-shadow: 0px 1px 1px rgb(255, 255, 255) inset, 0px 2px 3px rgba(0, 0, 0, 0.2); text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75); background: -moz-linear-gradient(center top , rgb(225, 227, 229), rgb(177, 183, 189)) repeat scroll 0% 0% transparent; border-width: 1px; border-style: solid; border-color: rgb(199, 202, 207) rgb(199, 202, 207) rgb(144, 150, 160); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(108, 115, 118); font: italic 14px/21px Georgia,serif; }
.button:hover { background: -moz-linear-gradient(center top , rgb(239, 240, 241), rgb(177, 183, 189)) repeat scroll 0% 0% transparent; color: rgb(0, 0, 0); cursor: pointer; }
.button:active { box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1) inset, 0px 2px 3px rgba(0, 0, 0, 0.2); background: none repeat scroll 0% 0% rgb(199, 203, 208); }
.breakingNews { box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.1) inset; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); background: none repeat scroll 0% 0% rgb(231, 220, 160); font: italic 14px Georgia,serif; margin: 0px -10px; padding: 8px 0px; position: relative; top: -10px; text-align: center; }
.breakingNews span { color: rgb(126, 109, 18); font-size: 12px; font-style: normal; text-transform: uppercase; }
.thumb { position: relative; z-index: 2; display: inline-block; max-width: 100%; }
.thumb:after { transform: rotate(3deg); box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3); height: 9%; right: 4%; width: 70%; bottom: 9px; z-index: -1; content: ""; position: absolute; }
.thumb:before { box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2) inset, 0px 0px 40px rgba(0, 0, 0, 0.05) inset; display: block; height: 100%; left: 0px; top: 0px; width: 100%; z-index: 3; content: ""; position: absolute; }
.thumb img { display: inline-block; max-width: 100%; height: auto; width: auto; }
.authorBio { box-shadow: 0px 2px 3px rgb(209, 218, 225) inset; text-shadow: 0px 1px 0px rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(221, 228, 233); border: 5px solid rgb(232, 237, 240); margin: 0px 0px 20px; padding: 15px 15px 10px; }
.authorBio:before, .authorBio:after { display: table; content: ""; }
.authorBio:after { clear: both; }
.authorBio p { margin-bottom: 8px; }
.authorBio .socialFollow a, .authorBio .socialFollow .twitter-follow-button { float: left; font-size: 11px; line-height: 20px; margin-right: 10px; }
.authorBio .socialFollow .icon { margin-top: 1px; outline: 0px none; }
.authorBio .thumb { float: left; margin: 0px 20px 5px 0px; }
.post { position: relative; }
.relatedTopics { font: italic 12px Georgia,serif; }
.storyBody { margin: 0px 0px 10px; }
.storyBody:before, .storyBody:after { display: table; content: ""; }
.storyBody:after { clear: both; }
.storyBody img, .storyBody .audioPlayer, .storyBody .videoPlayer { margin: 0px auto 15px; }
.storyBody blockquote p:last-child { margin-bottom: 0px; }
.storyBody img { display: block; max-width: 100%; height: auto; width: auto; }
.storyBody figcaption { font: italic 12px/1.5 Georgia,serif; margin: -10px 0px 20px; text-align: center; }
.storyBody p, .storyBody ol, .storyBody ul { margin-bottom: 15px; }
.storyHeader { margin: 0px 0px 20px; }
.storyHeader h1 { margin-bottom: 10px; }
.storyHeader .byline { border-bottom: 1px dotted rgb(198, 198, 198); border-top: 1px dotted rgb(198, 198, 198); padding: 10px 0px; }
.storyHeader .byline:before, .storyHeader .byline:after { display: table; content: ""; }
.storyHeader .byline:after { clear: both; }
.storyHeader .byline p { margin: 0px; }
.storyHeader .byline .thumb { float: left; margin: 0px 20px 0px 0px; max-height: 45px; max-width: 60px; }
.storyHeader .byline .twitter-follow-button { margin: 5px 5px 0px 0px; }
.storyHeader .summary { font: italic 14px/21px Georgia,serif; margin-bottom: 10px; }
.storyHeader .summary span { color: rgb(150, 21, 21); font-weight: bold; margin-right: 3px; }
blockquote { margin-bottom: 15px; padding: 0px 20px; }
blockquote p { color: rgb(104, 115, 127); }
blockquote, .relatedContent { border-bottom: 1px solid rgb(221, 228, 233); border-top: 1px solid rgb(221, 228, 233); padding: 15px 0px; margin-bottom: 15px; display: table; }
#comments .head .commentsCount { float: right; margin: -35px 10px 0px; }
#comments ul { list-style: none outside none; margin: 0px; }
#comments .level .comment { background: url('comment-thread-lines.gif') no-repeat scroll -141px 0px transparent; border-left: 1px solid rgb(215, 217, 216); padding-left: 19px; }
#comments .comment { padding-top: 15px; }
#comments .comment .commentWrapper { text-shadow: 0px 1px 0px rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(243, 246, 247); border: 1px solid rgb(221, 228, 233); padding: 19px 19px 14px; word-wrap: break-word; }
#comments .comment .commentBody, #comments .comment .commentMeta, #comments .comment .commentSubject { margin: 0px 0px 15px; }
#comments .comment .commentMeta { overflow: auto; }
#comments .comment .commentMeta .avatar { float: left; margin: 0px 10px 0px 0px; }
#comments .comment .commentMeta time { color: rgb(108, 115, 118); font-size: 10px; }
#comments .comment .commentMeta .author { font-family: Georgia,serif; font-size: 14px; }
#comments .comment .commentActions { box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset; border-top: 1px dotted rgb(199, 207, 211); font: italic 11px Georgia,serif; padding: 10px 0px 0px; }
#comments .comment .commentActions a { margin: 0px 10px 0px 0px; }
#comments .pagination { margin-top: 20px; }
.commentsCount { background: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(221, 221, 221)) repeat scroll 0% 0% transparent; border-radius: 3px 3px 3px 3px; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9); border: 1px solid rgb(204, 204, 204); color: rgb(108, 115, 118); display: inline-block; font-size: 9px; line-height: 14px; margin-bottom: 10px; padding: 5px; position: relative; text-align: center; vertical-align: top; }
.commentsCount span { color: rgb(150, 21, 21); display: block; font: italic bold 18px/1 Georgia,serif; margin: -2px 0px 2px; }
.commentsCount:before, .commentsCount:after { border-width: 4px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) transparent transparent; content: ""; display: block; height: 0px; width: 0px; position: absolute; bottom: -8px; right: 10px; }
.commentsCount:after { border-width: 3px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(221, 221, 221) rgb(221, 221, 221) transparent transparent; bottom: -6px; right: 11px; }
.siu {  }
.siu:before, .siu:after { display: table; content: ""; }
.siu:after { clear: both; }
.siu a:hover, .siu a:focus { text-decoration: none; }
.siu .grp { display: block; position: relative; }
.siu .grp:first-child { box-shadow: none; border: 0px none; }
.siu-cmnt, .siu-vote { text-shadow: 0px 1px 0px rgb(255, 255, 255); background: url('sprites-share-bar.png') no-repeat scroll 0px 0px transparent; color: rgb(88, 88, 87); display: block; font-family: "Helvetica Neue",Helvetica,sans-serif; overflow: hidden; }
.siu-cmnt .count, .siu-vote .count, .siu-cmnt .suffix, .siu-vote .suffix { display: block; }
.siu-cmnt:hover, .siu-vote:hover { color: rgb(88, 88, 87); }
.siu-more-btn { text-shadow: 0px 1px 0px rgb(255, 255, 255); display: block; font-size: 9px; }
.siu-more-btn.active, .siu-more-btn:hover { color: rgb(0, 83, 153); position: relative; z-index: 5001; }
.siu-btn-cont {  }
.siu-btn-cont:before, .siu-btn-cont:after { display: table; content: ""; }
.siu-btn-cont:after { clear: both; }
.siu-more { left: -9999px; padding: 15px 10px 10px; position: absolute; text-align: left; width: 220px; z-index: 5000; }
.siu-more .options { list-style: none outside none; margin: 0px; padding: 0px; }
.siu-more .options:before, .siu-more .options:after { display: table; content: ""; }
.siu-more .options:after { clear: both; }
.siu-more li { margin: 0px 10px 8px; float: left; width: 90px; }
.siu-more .icon { text-shadow: 0px 1px 0px rgb(255, 255, 255); background-image: url('sprites-share-bar.png'); background-repeat: no-repeat; font-size: 11px; line-height: 16px; padding-left: 22px; text-indent: 0px; }
.siu-more .i-print { background-position: 0px -80px; }
.siu-more .i-email { background-position: 0px -56px; }
.siu-more .i-digg { background-position: 0px -152px; }
.siu-more .i-delicious { background-position: 0px -128px; }
.siu-more .i-technorati { background-position: -146px -80px; }
.siu-more .i-reddit { background-position: 0px -272px; }
.siu-more .i-stumbleupon { background-position: -146px -56px; }
.siu-more .i-pinterest { background-position: -146px -128px; }
.siu-more .i-slashdot { background-position: -146px -152px; }
.siu-more .i-googleplus { background-position: 0px -200px; }
.siu-horizontal { min-height: 42px; }
.siu-horizontal:before, .siu-horizontal:after { display: table; content: ""; }
.siu-horizontal:after { clear: both; }
.siu-horizontal .grp { float: left; }
.siu-horizontal .siu-cmnt { background-position: -64px 0px; font-weight: bold; height: 24px; position: relative; text-align: center; width: 108px; z-index: 0; }
.siu-horizontal .siu-cmnt:hover { background-position: -190px -248px; }
.siu-horizontal .siu-cmnt .count { font-size: 11px; line-height: 20px; position: absolute; right: 1px; width: 30px; }
.siu-horizontal .siu-cmnt .suffix { font-size: 10px; line-height: 20px; width: 69px; }
.siu-horizontal .siu-vote { background-position: -64px -300px; font-weight: bold; height: 20px; position: relative; text-align: center; width: 91px; z-index: 0; }
.siu-horizontal .siu-vote:hover { background-position: -64px -400px; }
.siu-horizontal .siu-vote .count { font-size: 11px; position: absolute; width: 27px; right: 1px; line-height: 20px; color: rgb(88, 88, 87); }
.siu-horizontal .siu-vote .suffix { font-size: 10px; line-height: 20px; padding-left: 20px; width: 35px; }
.siu-horizontal .siu-btn-cont, .siu-horizontal .siu-cmnt-cont, .siu-horizontal .siu-vote-cont { float: left; margin-right: 5px; min-height: 28px; padding: 10px 0px 0px; }
.siu-horizontal .siu-btn-cont { margin-left: 5px; }
.siu-horizontal .siu-more-cont { float: right; }
.siu-horizontal .siu-more-btn { height: 28px; padding: 12px 12px 0px; }
.siu-horizontal .siu-more { box-shadow: 0px 1px 0px rgb(255, 255, 255) inset, -1px 0px 0px rgb(218, 218, 218) inset; background: -moz-linear-gradient(center top , rgb(231, 235, 237), rgb(223, 226, 228)) repeat scroll 0% 0% transparent; border-style: solid; border-color: rgb(218, 218, 218); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 0px 1px 1px; margin-top: -2px; }
.siu-vertical-cont { float: left; margin-left: -85px; position: absolute; text-align: center; top: 7px; width: 75px; }
.siu-vertical { border-radius: 3px 0px 0px 3px; box-shadow: 0px 1px 0px rgb(255, 255, 255) inset, -5px 0px 3px rgba(0, 0, 0, 0.1) inset; background: -moz-linear-gradient(left center , rgb(213, 217, 220), rgb(245, 249, 252) 50%, rgb(213, 217, 220)) repeat scroll 0% 0% transparent; border: 1px solid rgb(213, 217, 220); }
.siu-vertical .grp { box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset; border-top: 1px solid rgb(216, 216, 208); float: left; padding: 10px 0px 1px; width: 100%; }
.siu-vertical .siu-cmnt { height: 50px; margin: 0px auto 5px; width: 56px; }
.siu-vertical .siu-cmnt:hover { background-position: -126px -248px; }
.siu-vertical .siu-cmnt .count { font-size: 20px; font-weight: bold; line-height: 22px; padding-top: 4px; }
.siu-vertical .siu-cmnt .suffix { font-size: 9px; line-height: 10px; }
.siu-vertical .siu-vote { background-position: 0px -300px; height: 20px; margin: 5px auto 0px; padding-top: 42px; width: 56px; }
.siu-vertical .siu-vote:hover { background-position: 0px -400px; }
.siu-vertical .siu-vote .count, .siu-vertical .siu-vote .suffix { display: inline; font-size: 9px; line-height: 20px; }
.siu-vertical .siu-vote .count { font-size: 12px; font-weight: bold; }
.siu-vertical .siu-btn-cont { margin-bottom: 10px; min-height: 60px; }
.siu-vertical .siu-more-cont { padding: 0px; }
.siu-vertical .siu-more-btn { padding: 6px 0px; width: 100%; }
.siu-vertical .siu-more { border-radius: 0px 4px 4px 0px; box-shadow: 0px 1px 0px rgb(255, 255, 255) inset, 1px -1px 5px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(0, 0, 0, 0.2); background: -moz-linear-gradient(center top , rgb(245, 246, 247), rgb(216, 220, 223)) repeat scroll 0% 0% transparent; }
.siu-vertical .fb-like { margin: 0px auto; text-align: center; width: 46px; }
.module .box > ul > li { border-bottom: 1px dotted rgb(198, 198, 198); margin-bottom: 8px; padding-bottom: 8px; }
.module .box > ul > li:before, .module .box > ul > li:after { display: table; content: ""; }
.module .box > ul > li:after { clear: both; }
.module .box > ul > li:last-child { border: 0px none; margin-bottom: 0px; padding-bottom: 0px; }
.module .box .thumb { float: left; margin: 0px 20px 0px 0px; max-height: 45px; max-width: 60px; }
.keepUp h3 { font-size: 16px; font-style: italic; }
.keepUp p { font-size: 11px; margin-bottom: 10px; }
.keepUp .box { box-shadow: 0px 2px 3px rgb(209, 218, 225) inset; text-shadow: 0px 1px 0px rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(221, 228, 233); border: 5px solid rgb(232, 237, 240); padding: 15px; margin-bottom: 20px; }
.keepUp .checkbox { font-size: 11px; }
.keepUp .newsletters { box-shadow: 0px 1px 0px rgb(239, 243, 246); border-bottom: 1px dotted rgb(198, 198, 198); margin-bottom: 15px; padding-bottom: 10px; }
.keepUp .newsletters input[type="checkbox"] { margin-bottom: 0px; }
.keepUp .newsletters input[type="text"] { border-color: rgb(190, 203, 213); }
.keepUp .social ul { list-style: none outside none; margin: 0px; }
.keepUp .social ul:before, .keepUp .social ul:after { display: table; content: ""; }
.keepUp .social ul:after { clear: both; }
.keepUp .social li { float: left; margin-right: 3px; }
.leader .container { background: none repeat scroll 0% 0% rgb(233, 238, 240); line-height: 0; padding: 10px 0px ! important; text-align: center; }
#cbsiAd16_100.active, #cbsiAd16_200.active, #cbsiAd16_200.active, #cbsiAd16_300.active, #cbsiAd136_100.active, #cbsiAd102_200.active, #cbsiAd102_300.active, #cbsiAd128_200.active, #cbsiAd122_100.active, #cbsiAd110_100.active, #cbsiAd173_100.active { margin: 0px 0px 20px; }
.medusa h3 { font-size: 16px; font-style: italic; }
.medusa .heading, .sponsoredLinks .heading, .vendorHotSpot .heading { color: rgb(0, 0, 0); font-size: 14px; }
#catfish { bottom: 0px; display: none; position: fixed; width: 100%; z-index: 4; }
#catfish .catfishBar { border-radius: 3px 3px 0px 0px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset; background: -moz-linear-gradient(center top , rgb(98, 98, 101), rgb(57, 57, 59)) repeat scroll 0% 0% transparent; border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(58, 58, 60) rgb(58, 58, 60) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; height: 34px; position: relative; width: 618px; }
#catfish .catfishBar .branding { box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.2); background: url('sprites-catfish.png') no-repeat scroll 0px 50% transparent; border-right: 1px solid rgb(58, 58, 60); float: left; height: 100%; margin-right: 20px; width: 69px; text-indent: -9999px; }
#catfish .catfishBar .close { background: url('sprites-catfish.png') no-repeat scroll -70px 10px transparent; cursor: pointer; height: 8px; padding: 10px; position: absolute; right: 0px; text-indent: -9999px; top: 4px; width: 8px; }
#catfish .catfishBar .services { text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.7); color: rgb(204, 204, 204); font: italic 12px/35px Georgia,serif; }
#catfish .catfishBar .services a { color: rgb(204, 204, 204); }
#catfish .catfishBar .social { float: left; margin-right: 10px; padding: 7px 0px 0px; }
.nrelate_related { margin-bottom: 20px; }
.nrelate_related .nr_title { color: rgb(150, 21, 21); font-size: 16px; font-style: italic; }
.nrelate_related .nr_text { word-wrap: break-word; }
.nrelate_related.nr_1row .nr_title { background: url('heading.png') repeat-x scroll 0px 0.5em transparent; }
.nrelate_related.nr_1row .nr_title span { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding-right: 10px; }
.nrelate_related.nr_1row .nr_panel { border-top: 1px dotted rgb(198, 198, 198); margin-top: 8px; padding-top: 8px; overflow: hidden; display: block; float: none; }
.nrelate_related.nr_1row .nr_panel:first-child { border: 0px none; margin-top: 0px; }
.nrelate_related.nr_1row .nr_img_div { float: left; margin: 0px 20px 0px 0px; max-height: 45px; max-width: 60px; position: relative; z-index: 2; display: inline-block; overflow: hidden; }
.nrelate_related.nr_1row .nr_img_div:after { transform: rotate(3deg); box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3); height: 9%; right: 4%; width: 70%; bottom: 9px; z-index: -1; content: ""; position: absolute; }
.nrelate_related.nr_1row .nr_img_div:before { box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2) inset, 0px 0px 40px rgba(0, 0, 0, 0.05) inset; display: block; height: 100%; left: 0px; top: 0px; width: 100%; z-index: 3; content: ""; position: absolute; }
.nrelate_related.nr_1row .nr_img_div img { display: inline-block; max-width: 100%; height: auto; width: auto; }
.nrelate_related.nr_1row .nr_source { color: rgb(108, 115, 118); font-size: 0.8em; display: block; }
.nrelate_related.nr_1row .nr_source:hover { text-decoration: none ! important; }
.nrelate_related.nr_1row .nr_about { color: rgb(108, 115, 118); }
.timerCountdown ul li:nth-child(3) { font: 16px Georgia,serif; padding-top: 7px; height: 25px; }
.timerCountdown ul li:nth-child(5) { font: 16px Georgia,serif; padding-top: 7px; height: 25px; }
html { height: 100%; }
body { background-color: rgb(21, 41, 62); color: rgb(37, 37, 37); font-family: Verdana,Arial,sans-serif; font-size: 12px; line-height: 1.5; min-height: 100%; position: relative; }
a { color: rgb(0, 83, 153); text-decoration: none; cursor: pointer; }
a:hover { color: rgb(0, 0, 0); text-decoration: underline; }
h1, h2, h3, h4, h5, h6 { font-family: Georgia,serif; font-weight: normal; line-height: 1.2; }
h2 { color: rgb(37, 37, 37); }
.heading { color: rgb(150, 21, 21); font-size: 16px; font-style: italic; background: url('heading.png') repeat-x scroll 0px 0.5em transparent; }
.heading .int { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding-right: 10px; }
.fancy { color: rgb(108, 115, 118); font: italic 14px/21px Georgia,serif; }
.meta { color: rgb(108, 115, 118); font-size: 11px; }
.container { padding: 0px 10px; }
#page #content { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding-bottom: 10px; padding-top: 10px; }
section { margin-bottom: 20px; }
header[role="banner"] .header { background: -moz-linear-gradient(center top , rgb(36, 72, 108), rgb(21, 41, 62)) repeat scroll 0% 0% transparent; }
header[role="banner"] .header:before, header[role="banner"] .header:after { display: table; content: ""; }
header[role="banner"] .header:after { clear: both; }
header[role="banner"] .siteLogo { float: left; margin: 6px 0px 4px; }
header[role="banner"] .box, footer[role="contentinfo"] .box { border-radius: 4px 4px 4px 4px; box-shadow: 0px -5px 5px rgb(21, 41, 62) inset; border-bottom: 1px solid rgb(66, 84, 103); padding: 5px; }
header[role="banner"] .siteSearch, footer[role="contentinfo"] .siteSearch { float: right; margin: 7px 0px 0px; }
.primaryNav { box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset; background: -moz-linear-gradient(center top , rgb(216, 54, 33), rgb(112, 5, 7)) repeat scroll 0% 0% transparent; height: 40px; z-index: auto; }
.primaryNav .bar { display: block; }
.primaryNav .bar > li { float: left; position: relative; }
.primaryNav .bar > li .menu { top: 36px; left: 0px; }
.primaryNav .bar > li > a { text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.75); background: url('header-nav-divider.png') no-repeat scroll 100% 50% transparent; color: rgb(255, 255, 255); float: left; font: 14px/40px Georgia,serif; padding: 0px 14px 0px 12px; }
.primaryNav .bar > li > a:hover, .primaryNav .bar > li > a.selected { box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2) inset, -1px 0px 1px rgba(0, 0, 0, 0.2) inset, 1px 0px 1px -1px rgba(255, 255, 255, 0.2), -1px 0px 1px -1px rgba(255, 255, 255, 0.2); background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.4); text-decoration: none; }
.primaryNav .bar > li.expandable:hover > a { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8); }
.primaryNav .editions { float: left; margin-left: -10px; }
.primaryNav .editions > li > a { font-style: italic; }
.primaryNav .mobile .siteUtils { float: right; margin-right: -10px; }
.primaryNav .mobile .siteUtils > a { background: none repeat scroll 0px center transparent; }
.primaryNav .mobile .siteUtils .menu { left: auto; right: 0px; }
.secondaryNav { display: none; }
.siteLogo { background: url('logo.png') no-repeat scroll 0% 0% transparent; display: block; height: 40px; width: 63px; text-indent: -9999px; }
.siteSearch fieldset { width: 180px; }
.siteSearch input[type="text"] { border-radius: 0px 0px 0px 0px; box-shadow: -2px 2px 4px rgb(182, 188, 192) inset; background-color: rgb(221, 228, 233); border: 0px none; float: left; height: 25px; margin: 0px; padding: 0px 5px; width: 145px; }
.siteSearch input[type="text"]:focus { background-color: rgb(255, 255, 255); }
.siteSearch input[type="submit"] { border-radius: 0px 0px 0px 0px; background: url('sprites.png') no-repeat scroll 0px -40px transparent; border: 0px none; display: inline-block; height: 25px; width: 35px; text-indent: -9999px; }
footer[role="contentinfo"] { text-shadow: 0px 1px 0px rgb(21, 40, 62); color: rgb(212, 222, 226); }
footer[role="contentinfo"] a, footer[role="contentinfo"] a:hover { color: rgb(129, 159, 193); }
footer[role="contentinfo"] h2, footer[role="contentinfo"] h3 { color: rgb(212, 222, 226); font-size: 14px; font-style: italic; }
footer[role="contentinfo"] .footerMap li { margin-bottom: 5px; }
footer[role="contentinfo"] .networkSites form { display: inline; }
footer[role="contentinfo"] .networkSites form label { display: inline; font-size: 11px; }
footer[role="contentinfo"] .networkSites form select { font-size: 11px; margin: 0px 0px 0px 5px; padding: 0px; height: auto; width: auto; }
footer[role="contentinfo"] .siteHighlights article { margin-bottom: 10px; }
footer[role="contentinfo"] .siteHighlights article:before, footer[role="contentinfo"] .siteHighlights article:after { display: table; content: ""; }
footer[role="contentinfo"] .siteHighlights article:after { clear: both; }
footer[role="contentinfo"] .siteHighlights .thumb { float: left; margin: 0px 20px 0px 0px; max-height: 45px; max-width: 60px; }
footer[role="contentinfo"] .siteUtils, footer[role="contentinfo"] .footerMap, footer[role="contentinfo"] .siteHighlights { margin-bottom: 20px; }
footer[role="contentinfo"] .copyright, footer[role="contentinfo"] .footerMap, footer[role="contentinfo"] .siteUtils { font: italic 11px/1.5 Georgia,serif; }
footer[role="contentinfo"] .container { background: url('footer.png') no-repeat scroll 50% 0px / 100% auto transparent; padding: 20px 10px; }
.mmode-msg { display: none; }
/* ::::: http://www.zdnet.com/css/scaffolding.768.css?1365719975 ::::: */

body { background-image: url('body.png'); background-repeat: repeat-x; background-position: 0px 135px; }
#page #main { width: 428px; display: inline; float: left; margin-right: 10px; margin-left: 0px; }
#page #secondary { width: 300px; display: inline; float: left; margin-left: 10px; margin-right: 0px; }
.leader .container { width: 768px; }
.container { position: relative; width: 748px; margin: 0px auto; }
.container:before, .container:after { display: table; content: ""; }
.container:after { clear: both; }
.row { margin-left: -10px; margin-right: -10px; }
.row:before, .row:after { display: table; content: ""; }
.row:after { clear: both; }
[class*="column-"] { display: inline; float: left; margin-left: 10px; margin-right: 10px; }
.column-2 { width: 108px; }
.column-8 { width: 492px; }
header[role="banner"] { background: url('header-top-fade.png') repeat-x scroll 0% 0% transparent; }
header[role="banner"] .header { background: url('header-highlights.png') no-repeat scroll 0px 100% / 100% auto transparent; height: 110px; }
header[role="banner"] .header .lvl-search { background: url('header-search.png') no-repeat scroll 0px 100% / 100% auto transparent; overflow: hidden; padding: 20px 0px 15px; position: relative; right: -5px; }
header[role="banner"] .header .lvl-nav { background: url('header-lvl-nav.png') no-repeat scroll 0px 0px / 100% auto transparent; overflow: hidden; }
header[role="banner"] .siteLogo { margin: 20px 20px 0px 0px; }
header[role="banner"] .siteSearch, footer[role="contentinfo"] .siteSearch { margin: 0px; }
.primaryNav .mobile { height: 40px; overflow: hidden; }
.primaryNav .mobile .expandable .title { display: none; }
.primaryNav .mobile .expandable .menu { display: block; top: 0px; border: 0px none; border-radius: 0px 0px 0px 0px; padding: 0px; background: none repeat scroll 0px center transparent; width: auto; position: relative; z-index: auto; }
.primaryNav .mobile .expandable .menu ul { display: block; border: 0px none; padding: 0px; }
.primaryNav .mobile .expandable .menu ul > li { float: left; position: relative; }
.primaryNav .mobile .expandable .menu ul > li > a { text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.75); background: url('header-nav-divider.png') no-repeat scroll 100% 50% transparent; color: rgb(255, 255, 255); float: left; font: 14px/40px Georgia,serif; padding: 0px 14px 0px 12px; }
.primaryNav .mobile .expandable .menu ul > li > a:hover, .primaryNav .mobile .expandable .menu ul > li > a.selected { box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2) inset, -1px 0px 1px rgba(0, 0, 0, 0.2) inset, 1px 0px 1px -1px rgba(255, 255, 255, 0.2), -1px 0px 1px -1px rgba(255, 255, 255, 0.2); background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.4); text-decoration: none; }
.primaryNav .mobile .expandable .menu li { border: 0px none; padding: 0px; float: left; }
.primaryNav .mobile .siteUtils { display: none; }
.secondaryNav { display: block; }
.secondaryNav .bar { height: 30px; overflow: hidden; padding: 7px 0px 0px; }
.secondaryNav .bar li { float: left; }
.secondaryNav .bar li a { text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.75); color: rgb(162, 181, 197); display: block; font-family: Georgia,serif; line-height: 16px; padding: 4px 10px; }
.secondaryNav .bar li a:hover { color: rgb(255, 255, 255); text-decoration: none; }
.secondaryNav .siteUtils { color: rgb(162, 181, 197); float: right; margin-left: 10px; }
.secondaryNav .siteUtils > a { text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.75); color: rgb(162, 181, 197); font-family: Georgia,serif; font-style: italic; }
.secondaryNav .siteUtils > a:hover { color: rgb(255, 255, 255); text-decoration: none; }
.secondaryNav .siteUtils.loggedOut { padding: 10px 0px 0px; }
.secondaryNav .siteUtils .avatar img { border-radius: 3px 3px 3px 3px; background: none repeat scroll 0% 0% rgb(0, 0, 0); border-bottom: 1px solid rgb(66, 84, 103); margin: -5px 2px 0px 5px; padding: 3px; vertical-align: middle; }
.siteLogo { background-image: url('logo@2x.png'); height: 80px; width: 140px; }
.siteSearch fieldset { width: 300px; }
.siteSearch input[type="text"] { width: 265px; }
footer[role="contentinfo"] .siteHighlights .thumb { float: none; margin: 0px 0px 10px; max-height: 105px; max-width: 100%; }
footer[role="contentinfo"] .siteUtils, footer[role="contentinfo"] .footerMap, footer[role="contentinfo"] .siteHighlights { margin-bottom: 10px; }
.nrelate_related.nr_1row .nr_panel { border: 0px none; margin: 0px 0px 0px 20px; padding-bottom: 0px; width: 92px; float: left; display: inline; }
.nrelate_related.nr_1row .nr_panel:first-child { margin-left: 0px; }
.nrelate_related.nr_1row .nr_img_div { float: none; margin: 0px 0px 10px; max-height: 69px; max-width: 92px; display: block; }
/* ::::: http://www.zdnet.com/css/scaffolding.1024.css?1365719975 ::::: */

h1 { font-size: 40px; }
.container { padding: 0px 20px; }
#page #content { padding-bottom: 20px; padding-top: 20px; }
#page #main { width: 620px; display: inline; float: left; margin-right: 10px; margin-left: 0px; }
#page #secondary { width: 300px; display: inline; float: left; margin-left: 10px; margin-right: 0px; }
.leader .container { width: 980px; }
.container { position: relative; width: 940px; margin: 0px auto; }
.container:before, .container:after { display: table; content: ""; }
.container:after { clear: both; }
.row { margin-left: -10px; margin-right: -10px; }
.row:before, .row:after { display: table; content: ""; }
.row:after { clear: both; }
[class*="column-"] { display: inline; float: left; margin-left: 10px; margin-right: 10px; }
.column-2 { width: 140px; }
.column-8 { width: 620px; }
footer[role="contentinfo"] .container { padding: 30px 20px 20px; }
.breakingNews { margin: 0px -20px; top: -20px; }
.siu-vertical-cont { margin-left: -95px; }
.nrelate_related.nr_1row .nr_panel { width: 140px; }
.nrelate_related.nr_1row .nr_img_div { max-height: 105px; max-width: 140px; }
.fb_reset { background: none repeat scroll 0% 0% transparent; border-spacing: 0px; border: 0px none; color: rgb(0, 0, 0); cursor: auto; direction: ltr; font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 11px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 1; margin: 0px; overflow: visible; padding: 0px; text-align: left; text-decoration: none; text-indent: 0px; text-shadow: none; text-transform: none; visibility: visible; white-space: normal; word-spacing: normal; }
.fb_iframe_widget { position: relative; display: inline-block; }
.fb_iframe_widget iframe { position: absolute; }
.fb_iframe_widget span { display: inline-block; position: relative; text-align: justify; vertical-align: text-bottom; }
.fb_edge_widget_with_comment { position: relative; }
#li_ui_li_gen_1366150090928_0 { position: relative ! important; overflow: visible ! important; display: block ! important; }
#li_ui_li_gen_1366150090928_0 a#li_ui_li_gen_1366150090928_0-link { border: 0px none ! important; height: 20px ! important; text-decoration: none ! important; padding: 0px ! important; margin: 0px ! important; display: inline-block ! important; }
#li_ui_li_gen_1366150090928_0 a#li_ui_li_gen_1366150090928_0-link:link, #li_ui_li_gen_1366150090928_0 a#li_ui_li_gen_1366150090928_0-link:visited, #li_ui_li_gen_1366150090928_0 a#li_ui_li_gen_1366150090928_0-link:hover, #li_ui_li_gen_1366150090928_0 a#li_ui_li_gen_1366150090928_0-link:active { border: 0px none ! important; text-decoration: none ! important; }
#li_ui_li_gen_1366150090928_0 a#li_ui_li_gen_1366150090928_0-link:after { content: "." ! important; display: block ! important; clear: both ! important; visibility: hidden ! important; line-height: 0 ! important; height: 0px ! important; }
#li_ui_li_gen_1366150090928_0 #li_ui_li_gen_1366150090928_0-logo { background: url('sprite_connect_v13.png') no-repeat scroll 0px -276px transparent ! important; cursor: pointer ! important; border: 0px none ! important; text-indent: -9999em ! important; overflow: hidden ! important; padding: 0px ! important; margin: 0px ! important; position: absolute ! important; left: 0px ! important; top: 0px ! important; display: block ! important; width: 20px ! important; height: 20px ! important; float: right ! important; }
#li_ui_li_gen_1366150090928_0 #li_ui_li_gen_1366150090928_0-title { color: rgb(51, 51, 51) ! important; cursor: pointer ! important; display: block ! important; white-space: nowrap ! important; float: left ! important; margin-left: 1px ! important; vertical-align: top ! important; overflow: hidden ! important; text-align: center ! important; height: 18px ! important; padding: 0px 4px 0px 23px ! important; border-width: 1px 1px 1px 0px ! important; border-style: solid solid solid none ! important; -moz-border-top-colors: none ! important; -moz-border-right-colors: none ! important; -moz-border-bottom-colors: none ! important; -moz-border-left-colors: none ! important; border-image: none ! important; border-color: rgb(226, 226, 226) rgb(191, 191, 191) rgb(185, 185, 185) -moz-use-text-color ! important; text-shadow: -1px 1px 0px rgb(255, 255, 255) ! important; line-height: 20px ! important; border-radius: 0px 2px 2px 0px ! important; background-color: rgb(236, 236, 236) ! important; background-image: -moz-linear-gradient(center top , rgb(254, 254, 254) 0%, rgb(236, 236, 236) 100%) ! important; }
#li_ui_li_gen_1366150090928_0 #li_ui_li_gen_1366150090928_0-title-text, #li_ui_li_gen_1366150090928_0 #li_ui_li_gen_1366150090928_0-title-text * { color: rgb(51, 51, 51) ! important; font-size: 11px ! important; font-family: Arial,sans-serif ! important; font-weight: bold ! important; font-style: normal ! important; display: inline-block ! important; background: none repeat scroll 0% 0% transparent ! important; vertical-align: baseline ! important; height: 18px ! important; line-height: 20px ! important; float: none ! important; }
#li_ui_li_gen_1366150090928_0 #li_ui_li_gen_1366150090928_0-title #li_ui_li_gen_1366150090928_0-mark { display: inline-block ! important; width: 0px ! important; overflow: hidden ! important; }
#li_ui_li_gen_1366150090994_1-container.IN-top { display: inline-block ! important; overflow: visible ! important; position: relative ! important; height: 42px ! important; line-height: 1px ! important; cursor: pointer ! important; }
#li_ui_li_gen_1366150090994_1.IN-top { display: inline-block ! important; height: 42px ! important; width: 57px ! important; text-align: center ! important; background: url('sprite_connect_v13.png') no-repeat scroll -150px top transparent ! important; }
#li_ui_li_gen_1366150090994_1-content.IN-top { display: inline ! important; font-size: 16px ! important; color: rgb(4, 85, 139) ! important; font-weight: bold ! important; font-family: Arial,sans-serif ! important; line-height: 34px ! important; }
#li_ui_li_gen_1366150091059_2 { position: relative ! important; overflow: visible ! important; display: block ! important; }
#li_ui_li_gen_1366150091059_2 a#li_ui_li_gen_1366150091059_2-link { border: 0px none ! important; height: 20px ! important; text-decoration: none ! important; padding: 0px ! important; margin: 0px ! important; display: inline-block ! important; }
#li_ui_li_gen_1366150091059_2 a#li_ui_li_gen_1366150091059_2-link:link, #li_ui_li_gen_1366150091059_2 a#li_ui_li_gen_1366150091059_2-link:visited, #li_ui_li_gen_1366150091059_2 a#li_ui_li_gen_1366150091059_2-link:hover, #li_ui_li_gen_1366150091059_2 a#li_ui_li_gen_1366150091059_2-link:active { border: 0px none ! important; text-decoration: none ! important; }
#li_ui_li_gen_1366150091059_2 a#li_ui_li_gen_1366150091059_2-link:after { content: "." ! important; display: block ! important; clear: both ! important; visibility: hidden ! important; line-height: 0 ! important; height: 0px ! important; }
#li_ui_li_gen_1366150091059_2 #li_ui_li_gen_1366150091059_2-logo { background: url('sprite_connect_v13.png') no-repeat scroll 0px -276px transparent ! important; cursor: pointer ! important; border: 0px none ! important; text-indent: -9999em ! important; overflow: hidden ! important; padding: 0px ! important; margin: 0px ! important; position: absolute ! important; left: 0px ! important; top: 0px ! important; display: block ! important; width: 20px ! important; height: 20px ! important; float: right ! important; }
#li_ui_li_gen_1366150091059_2 #li_ui_li_gen_1366150091059_2-title { color: rgb(51, 51, 51) ! important; cursor: pointer ! important; display: block ! important; white-space: nowrap ! important; float: left ! important; margin-left: 1px ! important; vertical-align: top ! important; overflow: hidden ! important; text-align: center ! important; height: 18px ! important; padding: 0px 4px 0px 23px ! important; border-width: 1px 1px 1px 0px ! important; border-style: solid solid solid none ! important; -moz-border-top-colors: none ! important; -moz-border-right-colors: none ! important; -moz-border-bottom-colors: none ! important; -moz-border-left-colors: none ! important; border-image: none ! important; border-color: rgb(226, 226, 226) rgb(191, 191, 191) rgb(185, 185, 185) -moz-use-text-color ! important; text-shadow: -1px 1px 0px rgb(255, 255, 255) ! important; line-height: 20px ! important; border-radius: 0px 2px 2px 0px ! important; background-color: rgb(236, 236, 236) ! important; background-image: -moz-linear-gradient(center top , rgb(254, 254, 254) 0%, rgb(236, 236, 236) 100%) ! important; }
#li_ui_li_gen_1366150091059_2 #li_ui_li_gen_1366150091059_2-title-text, #li_ui_li_gen_1366150091059_2 #li_ui_li_gen_1366150091059_2-title-text * { color: rgb(51, 51, 51) ! important; font-size: 11px ! important; font-family: Arial,sans-serif ! important; font-weight: bold ! important; font-style: normal ! important; display: inline-block ! important; background: none repeat scroll 0% 0% transparent ! important; vertical-align: baseline ! important; height: 18px ! important; line-height: 20px ! important; float: none ! important; }
#li_ui_li_gen_1366150091059_2 #li_ui_li_gen_1366150091059_2-title #li_ui_li_gen_1366150091059_2-mark { display: inline-block ! important; width: 0px ! important; overflow: hidden ! important; }
.mad_center div, .mad_center table, .mad_center iframe, .mad_center img, .mad_center center, .mad_center object, #adDiv, #adDiv div, #adDiv table, #adDiv iframe, #adDiv img, #adDiv center, #adDiv object { margin-left: auto; margin-right: auto; }
.mad_center img, .mad_center embed, .mad_center iframe { vertical-align: top; }
.mad_center, #adDiv { text-align: -moz-center; }
#ZZpage_scrn { background-color: rgb(0, 0, 0); opacity: 0.5; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; display: block; }
#ZZcontent { visibility: visible; }
select { visibility: hidden; }
iframe { visibility: hidden; }
#ZZreplaydiv { overflow: hidden; z-index: 2147483440; position: fixed; bottom: 0px; width: 95px; height: 60px; border-width: 2px; border-style: solid; border-color: rgb(109, 109, 109); text-align: center; background-color: rgb(109, 109, 109); }
#ZZreplaydivimage { width: 95px; height: 16px; text-align: center; background-color: rgb(109, 109, 109); }
#zzintcontent { width: 95px; height: 44px; background-color: rgb(26, 26, 27); text-align: center; overflow: hidden; vertical-align: middle; display: table-cell; }
#cbsiAd264_100 .fifpre, #cbsiAd264_100 .fifpost { display: block; }
#cbsiAd264_100 .adHolder div, #cbsiAd264_100 .adHolder table, #cbsiAd264_100 .adHolder iframe, #cbsiAd264_100 .adHolder img, #cbsiAd264_100 .adHolder center, #cbsiAd264_100 .adHolder object { margin-left: auto; margin-right: auto; }
#cbsiAd264_100 .adHolder { text-align: -moz-center; }
#cbsiAd264_100 .adHolder img, #cbsiAd264_100 .adHolder embed, #cbsiAd264_100 .adHolder iframe { vertical-align: top; }
#cbsiAd16_100 .fifpre, #cbsiAd16_100 .fifpost { display: block; }
#cbsiAd16_100 .adHolder div, #cbsiAd16_100 .adHolder table, #cbsiAd16_100 .adHolder iframe, #cbsiAd16_100 .adHolder img, #cbsiAd16_100 .adHolder center, #cbsiAd16_100 .adHolder object { margin-left: auto; margin-right: auto; }
#cbsiAd16_100 .adHolder { text-align: -moz-center; }
#cbsiAd16_100 .adHolder img, #cbsiAd16_100 .adHolder embed, #cbsiAd16_100 .adHolder iframe { vertical-align: top; }
#cbsiAd16_200 .fifpre, #cbsiAd16_200 .fifpost { display: block; }
#cbsiAd16_200 .adHolder div, #cbsiAd16_200 .adHolder table, #cbsiAd16_200 .adHolder iframe, #cbsiAd16_200 .adHolder img, #cbsiAd16_200 .adHolder center, #cbsiAd16_200 .adHolder object { margin-left: auto; margin-right: auto; }
#cbsiAd16_200 .adHolder { text-align: -moz-center; }
#cbsiAd16_200 .adHolder img, #cbsiAd16_200 .adHolder embed, #cbsiAd16_200 .adHolder iframe { vertical-align: top; }
#cbsiAd264_500 .fifpre, #cbsiAd264_500 .fifpost { display: block; }
#cbsiAd264_500 .adHolder div, #cbsiAd264_500 .adHolder table, #cbsiAd264_500 .adHolder iframe, #cbsiAd264_500 .adHolder img, #cbsiAd264_500 .adHolder center, #cbsiAd264_500 .adHolder object { margin-left: auto; margin-right: auto; }
#cbsiAd264_500 .adHolder { text-align: -moz-center; }
#cbsiAd264_500 .adHolder img, #cbsiAd264_500 .adHolder embed, #cbsiAd264_500 .adHolder iframe { vertical-align: top; }
