/* ::::: http://www.zdnet.com/css/mantaray-min.css?29764 ::::: */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0px none; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
a img { border: medium none; }
body { font: 12px/1.428 Verdana,Arial,sans-serif; color: rgb(37, 37, 37); background-color: rgb(255, 255, 255); }
a { color: rgb(0, 83, 153); cursor: pointer; text-decoration: none; outline: medium none; }
a:focus, a:hover, a:active { text-decoration: underline; color: rgb(0, 0, 0); outline: 0px none; }
a:focus { outline: thin dotted; }
p, dl { margin: 0px 0px 10px; }
h1, h2, h3, h4, h5, h6, .h { font-weight: normal; margin-bottom: 10px; display: block; }
.hotspot .hed { display: none; }
.hotspot .content { box-shadow: 0px 2px 3px rgb(209, 218, 225) inset; text-shadow: 0px 1px 0px white; background: none repeat scroll 0% 0% rgb(221, 228, 233); border: 5px solid rgb(232, 237, 240); padding: 15px; }
.hotspot .content .h { font-style: italic; color: rgb(150, 21, 21); font-family: Georgia,serif; float: right; width: 50%; display: inline-block; font-size: 1.2em; }
.hotspot .content .h a { color: rgb(150, 21, 21); }
.hotspot .content .thumb { margin: 0px 10px 15px 0px; padding: 3px 0px 0px; text-align: center; overflow: hidden; float: left; }
.hotspot .content p { clear: both; margin: 0px 0px 5px; }
.hotspot .content p a { color: rgb(37, 37, 37); font-size: 13px; }
.hotspot .content .more { font-family: Georgia,serif; font-style: italic; font-size: 0.83em; margin-bottom: 10px; }
